.partners-page {
  .custom-header  {
    ol {
      color: #0000b4;
      font-weight: 700;
      margin: auto;
      text-align: left;
      width: 50%;

      li {
        margin-bottom: 12px;
      }
    }
  }
}