.partners-page {
  .custom-header  {
    h1 {
      font-size: 100px;
      font-weight: 400;
      letter-spacing: 0.833333px;
      line-height: 126px;
      text-transform: uppercase;
    }
    ol {
      color: #0000b4;
      font-weight: 700;
      margin: auto;
      text-align: left;
      width: 50%;

      li {
        margin-bottom: 12px;
      }
    }
  }
}
