.win-page {
  .custom-banners {
    .container {
      max-width: 100%;
      padding: 0;
      width: 100%;
    }

    .banner-row {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;

      .banner-element {
        display: flex;
        position: relative;
        width: 468px;

        span {
          color: #FFFFFF;
          font-size: 18px;
          font-weight: bold;
          left: 1em;
          letter-spacing: 0.15px;
          line-height: 32px;
          position: absolute;
          text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
          top: 0;
        }
      }

      @media screen and (max-width: 767px) {
        .banner-element {
          width: 187.5px;

          img {
            height: 136px;
            width: 187.5px;
          }
        }
      }

      @media screen and (min-width: 768px) and (max-width: 1023px) {
        .banner-element {
          width: 384px;

          img {
            height: 273.88px;
            width: 468px;
          }
        }
      }

      @media screen and (min-width: 1024) {
        .banner-element {
          width: 468px;

          img {
            height: 273.88px;
            width: 468px;
          }
        }
      }


    }
  }

  .custom-release {
    margin: 40px 0;

    .container {
      padding: 10px;
    }

    h2 {
      color: #414141;
      font-size: 60px;
      font-weight: 400;
      margin: 80px 0;
      padding-bottom: 0;
      text-align: center;
    }

    p {
      color: #414141;
      font-size: 25px;
      letter-spacing: 0.208333px;
      line-height: 37px;
      margin-bottom: 50px;
      margin-top: 0;
    }
  }

  .section-hero {
    background-color: #A1E4f7;
    background-image: url('/assets/images/hopr_map.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .section-container {

    &.hours {
      box-shadow: 2px 2px 41px -41px rgba(0, 0, 0, 0.25);
    }

    &.custom-terms {
      p {
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.15px;
        line-height: 18px;
      }
    }

    .event-item {
      align-items: center;
      border-top: 2px solid #C4C4C4;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding: 20px 80px;

      p {
        color: #414141;
        flex: 1;
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 0.25px;
        line-height: 32px;
        margin: inherit;
        text-align: center;
      }

      p:nth-of-type(1) {
        margin-left: 80px;
        text-align: left;
      }
      p:nth-of-type(2) {
        font-weight: 600;
      }
    }

    @media screen and (max-width: 1023px) {
      .event-item {
        padding: 20px 40px;

        p {
          font-size: 20px;
        }

        p:nth-of-type(1) {
          margin-left: 20px;
          text-align: left;
        }
        p:nth-of-type(2) {
          font-weight: 600;
        }
      }
    }
    .wrapper-sales-for {
      background: #FFFFA0;
      box-shadow: none;

      .the-balancer {
        box-shadow: 2px 2px 41px -14px rgba(0, 0, 0, 0.5);
      }

      .the-char-balancer {
        margin: 0;
        padding: 0 40px;

        p {
          font-size: 32px;
          line-height: 38px;
          letter-spacing: 0.25px;
        }
      }
    }
  }
}
