.win-page {
  .custom-banners {
    .container {
      max-width: 100%;
      padding: 0;
      width: 100%;
    }

    .banner-row {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;

      .banner-element {
        display: flex;
        position: relative;
        width: 33.33333%;

        .embed-container {
          --video--width: 468;
          --video--height: 273.88;

          line-height: 0;
          max-width: 100%;
          overflow: hidden;
          padding-bottom: calc(var(--video--height) / var(--video--width) * 99%); /* 41.66666667% */
          position: relative;
          width: 100%;

          .image-wrapper {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            transform: scale(1.029) translate(0px, 0px);
            width: 100%;
            z-index: 9;
          }

          &.hide-prev {
            .image-wrapper {
              display: none;
            }
          }

          iframe {
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            transform: scale(1.03);
            width: 100%;
          }
        }

        span {
          color: #FFFFFF;
          font-size: 18px;
          font-weight: bold;
          left: 1em;
          letter-spacing: 0.15px;
          line-height: 32px;
          position: absolute;
          text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
          top: 0;
          z-index: 99;
        }
      }

      @media screen and (max-width: 768px) {
        .banner-element {
          width: 50%;

          img {
            height: 136px;
            width: 187.5px;
          }

          span {
            font-size: 14px;
          }
        }
      }

      @media screen and (min-width: 768px) and (max-width: 1023px) {
        .banner-element {
          width: 50%;

          img {
            height: 273.88px;
            width: 468px;
          }
        }
      }

      @media screen and (min-width: 1024) {
        .banner-element {
          width: 33.333333%;

          img {
            height: 273.88px;
            width: 468px;
          }
        }
      }


    }

    .quiz {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .answer {
        display: flex;
        flex-direction: row;
        margin: 10px;

        input {
          background: #F0F0F0;
          border: none;
          border-radius: 16px;
          display: flex;
          flex: 4;
          min-width: 35vw;

          @include responsive(phone) {
            width: 100%;
          }
        }

        a {
          display: flex;
          flex: 1;
        }
      }

      .quiz-video {
        height: 25vw;
        min-height: 50vh;
        min-width:  120vh;
        width: 150vh;
      }
    }
  }

  .custom-release {
    margin: 40px 0;

    .container {
      padding: 10px;
    }

    h2 {
      color: #414141;
      font-size: 60px;
      font-weight: 400;
      margin: 80px 0;
      padding-bottom: 0;
      text-align: center;
    }

    p {
      color: #414141;
      font-size: 25px;
      letter-spacing: 0.208333px;
      line-height: 37px;
      margin-bottom: 50px;
      margin-top: 0;
    }

    @include responsive(phone) {
      h2 {
        font-size: 30px;
        margin: 40px 0;
      }

      p {
        font-size: 18px;
        letter-spacing: 0.25px;
        line-height: 23px;
      }
    }
  }

  .section-hero {
    @keyframes slide {
      from {
        background-position: 0;
      }

      to {
        background-position: 100%;
      }
    }

    .background {
      background-color: #A1E4f7;
      background-image: url('/assets/images/hopr_map.png');
      background-position: 0;
      background-repeat: repeat-x;
      transition: background-size;
      background-size: auto;
      display: flex;
      flex: 1 0;
      width: 100%;
      animation:
        slide
        30s
        ease-out
        0s
        alternate
        infinite
        none
        running;
    }

    .title {
      background: #FFF;
      display: flex;
      flex: 0 auto;
      justify-content: center;
      text-align: center;
      width: 100%;

      h2 {
        color: #414141;
        font-size: 60px;
        font-weight: normal;
        letter-spacing: 0.833333px;
        line-height: 48px;
        margin: 24px 0;

        @media screen and (max-width: 768px) {
          font-size: 30px;
          letter-spacing: 0.25px;
          line-height: 32px;
          margin: 18px 0;
        }
      }
    }
  }

  .section-container {

    &.hours {
      box-shadow: 2px 2px 41px -41px rgba(0, 0, 0, 0.25);
    }

    &.custom-terms {
      p {
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.15px;
        line-height: 18px;
      }
    }

    &.custom-jungfrau {
      margin-bottom: 80px;
      margin-top: 56px;
      h2 {
        text-align: center;
      }
      .container {
        padding: 0 24px;
      }
      .row {
        border-radius: 20px;
        display: flex;
        overflow: hidden;
        position: relative;
        width: 100%;
        z-index: 2;

        div {
          flex: 1;
          width: 50%;
          text-align: center;

          @include responsive(phone) {
            width: 100%;
          }
        }

        .left {
          margin: auto 60px;

          p {
            font-size: 32px;
            line-height: 38px;
            letter-spacing: 0.25px;
            text-align: left;
          }

          @media screen and (max-width: 1024px) {
            padding: 0 15px;

            p {
              font-size: 30px;
              font-weight: normal;
              line-height: 38px;
            }
          }

          @media screen and (max-width: 767px) {
            flex: 1 1 auto;
            padding: 0 15px;

            p {
              font-size: 18px;
              font-weight: 400;
              line-height: 23px;
            }
          }
        }

        .right {
          img {
            width: 80%;
          }
        }

        @media screen and (max-width: 767px) {
          flex-wrap: wrap-reverse;
        }
      }

      @media screen and (max-width: 1024px) {
        margin: 50px 0;
      }

      @media screen and (max-width: 767px) {
        margin-bottom: 50px;
        margin-top: 24px;
      }
    }

    .event-item {
      align-items: center;
      border-top: 2px solid #C4C4C4;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding: 20px 80px;

      p {
        color: #414141;
        flex: 1;
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 0.25px;
        line-height: 32px;
        margin: inherit;
        text-align: center;

        @media screen and (max-width: 1024px) {
          font-size: 20px;
        }

        @media screen and (max-width: 768px) {
          font-size: 14px;
        }
      }

      p:nth-of-type(1) {
        margin-left: 80px;
        text-align: left;

        @media screen and (max-width: 1024px) {
          margin-left: 20px;
          text-align: left;
        }
      }
      p:nth-of-type(2) {
        font-weight: 600;

        @media screen and (max-width: 767px) {
          display: none;
        }
      }

      @media screen and (max-width: 1024px) {
        padding: 20px 40px;
      }

      @media screen and (max-width: 768px) {
        padding: 10px 20px;
      }
    }

    .wrapper-sales-for {
      background: #FFFFA0;
      box-shadow: none;
      overflow: visible;
      justify-content: center;

      .the-balancer {
        box-shadow: 2px 2px 41px -14px rgba(0, 0, 0, 0.5);
      }

      .the-char-balancer {
        margin: auto 0;
        padding: 0 40px;

        p {
          font-size: 32px;
          line-height: 38px;
          letter-spacing: 0.25px;

          @media screen and (max-width: 1024px) {
            font-size: 30px;
            font-weight: normal;
            line-height: 38px;
          }

          @media screen and (max-width: 767px) {
            font-size: 18px;
            font-weight: 400;
            line-height: 23px;
          }
        }

        @media screen and (max-width: 1024px) {
          padding: 50px 0;
        }

        @media screen and (max-width: 767px) {
          padding: 50px 0;
        }
      }
    }

    @media screen and (max-width: 768px) {
      .wrapper-sales-for {
        width: 100%;
      }
    }
  }
}
