.btn-banner {
  align-items: center;
  background: linear-gradient(90deg, #0000db 0%, #292941 100%);
  border-radius: 100px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  font-size: 30px;
  font-weight: 600;
  justify-content: center;
  letter-spacing: 0.2975px;
  min-width: 200px;
  padding: 0.25em 1.2em;
  text-align: center;
  text-decoration: none;
  transition: all 350ms ease-in-out;

  @include responsive(tablet) {
    font-size: 24px;
  }

  @include responsive(phone) {
    font-size: 20px;
  }

  &:hover {
    transition: all 350ms ease-in-out;
    background: linear-gradient(90deg, #0000db -100%, #292941 100%);
  }
}

.banner-CTA {
  align-items: center;
  background-image: url('/assets/images/banner.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100%;

  .content-buttons {
    display: flex;

    .first-button {
      margin-right: 40px;

      @include responsive(phone) {
        margin-right: 0;
        margin-bottom: 6px;
      }
    }

    @include responsive(phone) {
      flex-direction: column;
    }
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  .container {
    width: 55%;
    margin-bottom: 50px;
    @include responsive(tablet) {
      width: 80%;
      margin-bottom: 50px;
    }
    @include responsive(phone) {
      width: 100%;
    }
  }

  h3 {
    align-items: center;
    color: #ffffff;
    display: flex;
    font-size: 45px;
    font-weight: bold;
    letter-spacing: 0.375px;
    line-height: 57px;
    margin: 0;
    padding: 0;
    text-align: center;
    text-align: center;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);

    @include responsive(tablet) {
      font-size: 28px;
      line-height: 38px;
      letter-spacing: 0.233333px;
    }

    @include responsive(phone) {
      font-size: 18px;
      line-height: 23px;
      letter-spacing: 0.15px;
    }
  }

  .container-btn {
    span {
      font-size: 34px;
    }

    @include responsive(tablet) {
      span {
        font-size: 21px;
      }
    }
  }

  .animate {
    animation: animateThis 1400ms ease-in-out forwards;
  }
}

@keyframes animateThis {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.btn-follow {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  width: 100%;

  transition: all 600ms ease-in-out;
  position: fixed;

  &.modeFollow {
    bottom: 5vh;
    animation: firstShow ease 300ms forwards;
  }
  &.fixOnBanner {
    position: relative;
  }
  & > div {
    // background: linear-gradient(90deg, #0000db 0%, #292941 100%);
    transition: all 600ms ease-in-out;
    padding: 0em 1.5em;
    border-radius: 100px;
    width: fit-content;
    &:hover {
      animation: animateBtn ease 1400ms forwards;
    }
  }
}

.change-mode {
  bottom: auto;

  animation: changeMode ease 300ms forwards;
  @include responsive(tablet) {
    position: absolute !important;
  }
}

@keyframes changeMode {
  0% {
    position: fixed;
  }
  100% {
    position: absolute;
  }
}

@keyframes hoverAnimate {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes firstShow {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  50% {
    opacity: 1;
    transform: translateY(20%);
  }
  100% {
    transform: translateY(0%);
  }
}
