.btn-banner {
  background: linear-gradient(90deg, #0000db 0%, #292941 100%);
  transition: all 600ms ease-in-out;
  padding: 0em 1.5em;
  border-radius: 100px;
  width: fit-content;
  &:hover {
    background: linear-gradient(90deg, #0000db 100%, #292941 100%);
    animation: hoverAnimate ease 1s forwards;
  }

  span{
    transition: font-size 300ms ease-in-out;
    font-weight: 600;
    line-height: 2em;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2975px;
    color: #ffffff;
    margin: 0;
    padding: 0;

    @media screen and (max-width: 600px) {
      font-size: 14px;
    }
  }

}

.banner-CTA {
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/assets/images/banner.png");
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  .container-btn {
    position: absolute;
    span {
      font-size: 34px;
    }
    @include responsive(tablet) {
      span {
        font-size: 21px;
      }
    }
  }
  .animate {
    animation: animateThis 1400ms ease-in-out forwards;
  }
}

@keyframes animateThis {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.btn-follow {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  width: 100%;
  position: fixed;
  transition: all 600ms ease-in-out;
  bottom: 10px;
  & > div {
    background: linear-gradient(90deg, #0000db 0%, #292941 100%);
    transition: all 600ms ease-in-out;
    padding: 0em 1.5em;
    border-radius: 100px;
    width: fit-content;
    &:hover {
      animation: animateBtn ease 1400ms forwards;
    }
  }
}

.change-mode {
  bottom: auto;

  animation: changeMode ease 300ms forwards;
  @include responsive(tablet) {
    position: absolute !important;
  }
}

@keyframes changeMode {
  0% {
    position: fixed;
  }
  100% {
    position: absolute;
  }
}

@keyframes hoverAnimate {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
