.section-blog {
  text-align: center;

  .tabs {
    background-color: rgb(238, 238, 238);
    padding: 54px 0 0px 0;

    .container-sm {
      display: flex;
      justify-content: space-around;
    }

    button {
      align-items: center;
      background-color: inherit;
      border: none;
      color: #414141;
      cursor: pointer;
      justify-content: center;
      padding: 12px;

      &.active {
        text-decoration-line: underline;
      }
    }
  }
}

.section-posts {
  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;

    li {
      box-sizing: border-box;
      padding: 0 12px 40px 12px;
      text-align: left;
      width: calc(100% / 3);

      img {
        border: 0;
        margin: 0;
        width: 100%;
      }

      h1 {
        border: none;
        color: rgba(0, 0, 0, 0.9);
        cursor: pointer;
        font-size: 24px;
        font-weight: 700;
        text-decoration: none;
        margin: 0;
      }

      h2 {
        border: none;
        color: rgba(0, 0, 0, 0.5);
        cursor: pointer;
        font-size: 16px;
        font-weight: 500;
        margin: 0;
        text-decoration: none;
        text-transform: lowercase;
      }

      h2::first-letter {
        text-transform: uppercase;
      }

      p {
        color: rgba(0, 0, 0, 0.5);
        margin-top: 0;
      }

      figure {
        line-height: 0;
        margin: 0;
        width: 50%;
      }

      a {
        text-decoration: none;
      }

      &.first-element {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: left;
        text-decoration: none;
        width: 100%;

        h1 {
          align-items: flex-end;
        }

        h2 {
          color: #414141;
        }

        .content-element {
          width: 46%;
        }
      }

      &.grid-element {
        display: flex;
        flex-direction: column;
        text-decoration: none;

        figure {
          width: 100%;
        }
      }

      .avatar {
        h3 {
          color: rgba(0, 0, 0, 0.5);
          font-size: 16px;
          font-weight: 400;
          margin: 0;
          text-decoration: none;
        }

        .author-green {
          color: rgb(34, 80, 34);
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .section-posts {
    ul {
      li {
        width: 100%;
      }
    }
  }
}
