.type-btn {
  background: linear-gradient(90deg, #0000db 0%, #292941 100%);
  transition: all 600ms ease-in-out;
  padding: 0em 1em;
  border-radius: 100px;
  width: fit-content;
  span {
    font-weight: 600;
    font-size: 1em;
    line-height: 2em;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2975px;
    color: #ffffff;
    margin: 0;
    padding: 0;
  }
  @include responsive(tablet) {
    padding: 0.5em 1rem;
    span {
      font-size: 18px;
    }
  }
  &:hover {
    cursor: pointer;
    transition: all 600ms ease-in-out;
    background: linear-gradient(90deg, #0000db 100%, #292941 0%);
    span {
      color: $hopr_yellow;
    }
  }
}
.btn-align {
  display: flex;
  align-items: center;
  justify-content: center;
}
.link-out {
  text-decoration: none;
}
// btn-hero

.btn-hero {
  font-size: 35.7px;
  @include responsive(tablet) {
    font-size: 18px;
  }
}
