.container-languages {
  position: absolute;
  right: 24px;
  top: 4rem;
  .select-lang {
    text-transform: uppercase;
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    padding-bottom: 0.5rem;
    color: #fff;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    justify-content: flex-end;
    &::before {
      content: "▼";
      display: block;
      width: 20px;
      height: 20px;
      float: left;
      margin: 0 6px 0 0;
      transition: all 350ms ease-in-out;
    }
    &:hover {
      &::before {
        content: "▲";
        transition: all 350ms ease-in-out;
      }
    }
  }
  .box-hidden-info {
    overflow: hidden;
  }
  ul {
    z-index: 2333;
    position: relative;
    width: 144px;
    padding: 0;
    margin: 0;
    list-style: none;
    background: #ffffff;
    li {
      text-transform: uppercase;
      color: #000;
      font-size: 14px;
      text-align: center;
      align-items: center;
      display: flex;
      justify-content: center;
      line-height: 35px;
      letter-spacing: 0.116667px;
      &:first-child {
        padding-top: 10px;
      }
      &:last-child {
        padding-bottom: 10px;
      }
      &.is-current {
        background: $hopr_yellow;
      }
      &:hover {
        background: $hopr_yellow;
      }
    }
  }
  @include responsive(tablet) {
    display: none;
  }
}
