*,
body {
  font-family: "Source Code Pro", monospace;
  transition: all 350ms ease;
}
:root {
  font-size: 16px;
}
section {
  overflow: hidden;
}

.link-out {
  font-size: 0.8em;
  line-height: normal;
  letter-spacing: 0.116667px;
  text-decoration-line: underline;
  color: #0000b4 !important;
}

.container-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-bottom {
  position: absolute;
  bottom: 11vh;
}

.video-home {
  height: 100%;
  overflow: hidden;
  video {
    width: 100%;
    height: 600px;
  }
}

.ytp-title-text,
.ytp-chrome-top,
.ytp-show-cards-title,
.ytp-gradient-top {
  display: none !important;
}

.global-home-aux {
  @include responsive(tablet) {
    font-size: calc(1em / 1.2);
  }
}

.aux-img-home {
  height: auto;
  overflow: hidden;
  div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  img {
    object-fit: cover;
    width: 70%;
    margin: auto;
  }
}

//
.aux-padding-box-read {
  padding: 0 2rem;
  box-sizing: border-box;
  @include responsive(tablet) {
    padding: 0;
  }
}

//
.padding-section-aux {
  padding-top: 4.625rem;
  padding-bottom: 3.125rem;
}

.container-char {
  background: #fff;
  box-shadow: 1px 1px 41px -13px rgba(0, 0, 0, 0.34);
  border-radius: 16px;
  overflow: hidden;
  height: auto;
  width: 50vw;
  margin: auto;
  @include responsive(tablet) {
    width: 90vw;
  }
  canvas {
    padding: 1em;
    box-sizing: border-box;
  }
}

.block-left,
.block-right {
  width: 50%;
  padding: 1rem;
  box-sizing: border-box;
  @include responsive(tablet) {
    width: 100%;
    padding: 0.3rem;
  }
}

//
.padding-bottom {
  @include responsive(tablet) {
    margin-bottom: 2rem !important;
  }
}
///
.container-chart {
  height: 50vh;
  width: 80vw;
  margin: auto;
  @include responsive(tablet) {
  }
}
