*,
body {
  font-family: "Source Code Pro", monospace;
  transition: all 350ms ease;
}
:root {
  font-size: 16px;
}
section {
  overflow: hidden;
}

.link-out {
  font-size: 0.8em;
  line-height: normal;
  letter-spacing: 0.116667px;
  text-decoration-line: underline;
  color: #0000b4 !important;
}

.container-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-bottom {
  position: absolute;
  bottom: 5%;
}

.video-home {
  height: 100%;
  overflow: hidden;
  iframe {
    width: 100%;
    height: 600px;
  }
}

.global-home-aux {
  @media (max-width: 50em) {
    font-size: calc(1em / 1.2);
  }
}

.aux-img-home {
  height: auto;
  overflow: hidden;
  div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  img {
    object-fit: cover;
    width: 70%;
    margin: auto;
  }
}

//
.aux-padding-box-read {
  padding: 0.5em;
  box-sizing: border-box;
}

//
.padding-section-aux {
  padding-top: 4.625rem;
  padding-bottom: 3.125rem;
}

.container-char {
  background: #fff;
  canvas {
    padding: 1em;
    box-sizing: border-box;
  }
}

.block-left,
.block-right {
  width: 50%;
  padding: 1rem;
  box-sizing: border-box;
  @include responsive(tablet) {
    width: 100%;
    padding: 0.3rem;
  }
}
