.section-hero {
  width: 100%;
  height: calc(100vh - 54px);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  @include responsive(tablet) {
    height: calc(100vh - 52px);
  }
}

.text-wrapper {
  text-align: center;
  color: #fff;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.section-hero {
  h1,
  h4 {
    margin: 0;
    padding: 0;
    line-height: normal;
    text-transform: uppercase;
    color: #ffffff;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  }
  h1 {
    font-size: 100px;
    line-height: 103px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.833333px;
    word-break: break-word;
    font-weight: normal;
    @include responsive(tablet) {
      font-size: 108px;
      line-height: 112px;
      align-items: center;
      text-align: center;
      letter-spacing: 0.9px;
    }
    @include responsive(phone) {
      font-size: 50px;
      line-height: 64px;

      letter-spacing: 0.416667px;
    }
  }
  h4 {
    position: absolute;
    top: calc(50% - 326px / 2 - 128px);
    left: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-weight: bold;
    font-size: 30px;
    line-height: 32px;
    margin-bottom: 4.625rem;
    @include responsive(tablet) {
      font-size: 30px;
      line-height: 32px;
      top: calc(50% - 84px / 2 - 229px);
    }
    @include responsive(phone) {
      font-size: 20px !important;
      line-height: 32px !important;
      top: calc(55% - 0px / 2 - 229px) !important;
    }
  }
}

.info-hero-top,
.info-hero-bottom {
  p {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    color: #fff;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  }
}

.info-hero-top {
  position: absolute;
  top: 0.875rem;
  left: 24px;
  @include responsive(tablet) {
    top: 14px;
  }
}

.info-hero-bottom {
  position: absolute;
  bottom: 1rem;
  right: 24px;
}

.help-label-info {
  font-size: 14px;
}

.display-desktop {
  display: flex;
  @include responsive(tablet) {
    display: none;
  }
}

.display-tablet {
  display: none;
  @include responsive(tablet) {
    display: flex;
  }
}

.display-phone {
  display: none;
  @include responsive(phone) {
    display: flex;
  }
}
