.section-hero-internal {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 6rem 0 3rem;
  color: $hopr_grey;
  h1 {
    font-size: 6.25rem;
    font-weight: 400;
    @include responsive(tablet) {
      font-size: 2.5rem;
    }
  }
  p {
    font-size: 1.25rem;
    line-height: 1.875rem;

    letter-spacing: 0.208333px;
    font-weight: 300;
  }
  h3 {
    font-size: 1.313rem;
    font-weight: 300;
    color: #414141;
  }
}

.continue-hero-internal {
  background: $hopr_yellow;
  & > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: $hopr_grey;
  }
  h2 {
    font-size: 2.375rem;
    font-weight: 400;
    margin-bottom: 4rem;
    color: $hopr_grey;
  }
  p {
    font-size: 1.3em;
    line-height: 2em;
    letter-spacing: 0.208333px;
    font-weight: 300;
  }
  .block-video {
    margin: 3rem 0;
  }
  .see-my-youtube {
    color: $hopr_grey;
    font-size: 1.25rem;
    a {
      color: $hopr_bright_blue;
      margin-left: 1rem;
    }
  }
}

.two-block {
  display: flex;
  @include responsive(tablet) {
    flex-direction: column;
  }
}

.continue-yellow {
  background: $hopr_yellow;
  & > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: $hopr_grey;
  }
  h2 {
    font-size: 2em;
    font-weight: 400;
  }
  p {
    font-size: 1.3em;
    line-height: 2em;
    letter-spacing: 0.208333px;
    font-weight: 300;
  }
}
