.section-hero-internal {
  height: auto;
  padding: 130px 0 80px 0;
  text-align: center;
  color: $hopr_grey;
  min-height: 100vh;
  @include responsive(tablet) {
    padding-bottom:  80px 0 40px 0;
  }
  @include responsive(phone) {
  }
  h1 {
    font-weight: 400;
    font-size: 100px;
    line-height: 126px;
    padding-bottom: 90px;
    margin: 0;
    letter-spacing: 0.833333px;
    overflow-wrap: anywhere;
    @include responsive(phone) {
      font-size: 50px;
      line-height: 64px;
      letter-spacing: 0.416667px;
    }
  }
  p {
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.166667px;
    opacity: 0.89;
    @include responsive(phone) {
      font-size: 16px;
      line-height: 25px;
      letter-spacing: 0.133333px;
    }
  }
  h3 {
    font-size: 1.313rem;
    font-weight: 300;
    color: #414141;
  }
}

.continue-hero-internal {
  background: $hopr_yellow;
  & > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: $hopr_grey;
  }
  h2 {
    font-size: 2.375rem;
    font-weight: 400;
    margin-bottom: 4rem;
    color: $hopr_grey;
  }
  p {
    font-size: 1.3em;
    line-height: 2em;
    letter-spacing: 0.208333px;
    font-weight: 300;
  }
  .block-video {
    margin: 3rem 0;
  }
  .see-my-youtube {
    color: $hopr_grey;
    font-size: 1.25rem;
    a {
      color: $hopr_bright_blue;
      margin-left: 1rem;
    }
  }
}

.two-block {
  display: flex;
  @include responsive(tablet) {
    flex-direction: column;
  }
}

.continue-yellow {
  background: $hopr_yellow;
  & > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: $hopr_grey;
  }
  h2 {
    font-size: 2em;
    font-weight: 400;
  }
  p {
    font-size: 1.3em;
    line-height: 2em;
    letter-spacing: 0.208333px;
    font-weight: 300;
  }
}

.no-full-height {
  min-height: auto !important;
}
