.section-hero-internal {
  color: $hopr_grey;
  height: auto;
  padding: 130px 0 0px 0;
  text-align: center;
  min-height: 100vh;

  @include responsive(tablet) {
    padding-bottom:  80px 0 40px 0;
  }
  h1 {
    font-size: 100px;
    font-weight: 400;
    letter-spacing: 0.833333px;
    line-height: 126px;
    margin: 0;
    overflow-wrap: anywhere;
    padding-bottom: 90px;

    @include responsive(phone) {
      font-size: 50px;
      letter-spacing: 0.416667px;
      line-height: 64px;
    }
  }

  p {
    font-size: 20px;
    letter-spacing: 0.166667px;
    line-height: 32px;
    opacity: 0.89;
    text-align: center;
    @include responsive(phone) {
      font-size: 16px;
      letter-spacing: 0.133333px;
      line-height: 25px;
    }
  }
  h3 {
    color: #414141;
    font-size: 1.313rem;
    font-weight: 300;
  }
}

.continue-hero-internal {
  background: $hopr_yellow;
  padding: 80px 50px;

  & > div {
    align-items: center;
    color: $hopr_grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  h2 {
    color: $hopr_grey;
    font-size: 2.375rem;
    font-weight: 400;
    margin-bottom: 4rem;
  }

  p {
    font-size: 1.3em;
    font-weight: 300;
    letter-spacing: 0.208333px;
    line-height: 1.2em;
  }

  .block-video {
    margin: 3rem 0;
  }

  .see-my-youtube {
    color: $hopr_grey;
    font-size: 1.25rem;

    a {
      color: $hopr_bright_blue;
      margin-left: 1rem;
    }
  }
}

.two-block {
  display: flex;
  @include responsive(tablet) {
    flex-direction: column;
  }
}

.continue-yellow {
  background: $hopr_yellow;
  & > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: $hopr_grey;
  }
  h2 {
    font-size: 2em;
    font-weight: 400;
  }
  h2.container.noUppercase {
    text-transform: none;
  }
  p {
    font-size: 1.3em;
    line-height: 2em;
    letter-spacing: 0.208333px;
    font-weight: 300;
  }
}

.item-back-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 50px auto;
  width: 80%;

  .break-line {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  @include responsive(tablet) {
    width: 100%;
  }
  @include responsive(phone) {
    margin: 18px auto 50px auto;
  }
  a {
    width: 200px;
    height: 120px;
    background: transparent;
    padding: 0.5em;
    margin: 0.5em 0;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    justify-content: center;
    img {
      width: 100%;
      object-fit: contain;

    }
    p {
      padding: 0;
      margin: 0;
    }
    @include responsive(tablet) {
      width: 47%;
      width: 180px;
      height: 100px;
    }
  }
}

.no-full-height {
  min-height: auto !important;
}

.img-to-black {
  -webkit-filter: contrast(0)!important;
  filter: contrast(0)!important;
}
