#the-old-home {
  color: #414141;
  overflow: hidden;

  .type-btn,
  .btn-banner {
    border-radius: 15px;
    height: 48px;
    background: linear-gradient(270deg, #000050, #0000b4);
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: auto;
    @include responsive(tablet) {
      padding: auto 2em;
      height: 22px;
    }
    span {
      font-weight: 600;
      font-size: 14px;
      text-transform: uppercase;
    }
  }

  .quote {
    font-style: italic;
    &:after,
    &:before {
      content: '"';
    }
  }

  .mb-12 {
    margin-bottom: 12px !important;
  }

  .mb-16 {
    margin-bottom: 16px !important;
  }

  .sub-title {
    h2 {
      text-align: center;
      font-weight: 500;
      clear: both;
      font-size: 38px;
      letter-spacing: -0.1px;
      text-transform: capitalize;
      line-height: 48px;
      color: #414141;
      word-wrap: break-word;
      overflow-wrap: break-word;
      @include responsive(tablet) {
        font-size: 32px;
        line-height: 42px;
      }
    }
  }

  .section-partners {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 0;

    ul {
      li {
        @include responsive(tablet) {
          width: 100%;
        }

        img {
          height: 100%;
          object-fit: cover;
          filter: contrast(0.5);
        }
      }
    }
  }

  .section-UseCases {
    h2 {
      margin: 0 !important;
      &:last-of-type {
        @include responsive(tablet) {
          font-size: 32px;
          margin-top: 3rem !important;
        }
      }
    }
    .read-text {
      text-align: center;
      @include responsive(tablet) {
        margin-bottom: 80px;
      }
      p {
        font-weight: 400;
        color: #414141;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: -0.1px;
      }
    }

    .items-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-right: -12px;
      margin-left: -12px;
      margin-top: -12px;

      margin-top: 3rem;
      @include responsive(tablet) {
        flex-wrap: wrap;
      }

      .element-item {
        flex-basis: 330px;
        max-width: 330px;
        box-sizing: content-box;
        padding: 12px;

        flex-direction: column;
        @include responsive(tablet) {
          width: 100%;
        }
      }
      .main {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: 100%;
        padding: 32px 24px;
        align-items: center;
        @include responsive(tablet) {
          padding: 0;
        }
      }
      .container-img {
        width: 75px;
        height: 75px;
        background: #fff;
        border-radius: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 45px;
          height: 45px;
        }
      }
      h4 {
        text-align: center;
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.1px;
      }
      .list-text {
        font-size: 20px;
        line-height: 30px;
        letter-spacing: -0.1px;
        font-weight: 300;
      }
    }
    .list-two-elements {
      text-align: center;
      .element-item {
        flex-basis: 500px;
        max-width: 500px;
        h4 {
          margin: 0 0 8px 0;
          padding: 0;
        }
        p {
          font-size: 18px;
          line-height: 28px;
        }
      }
    }
  }
  .section-InTheNews {
    .items {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-right: -12px;
      margin-left: -12px;
      margin-top: -12px;

      margin-top: 3rem;
      @include responsive(tablet) {
        flex-wrap: wrap;
      }
      .element-item {
        flex-basis: 330px;
        max-width: 330px;
        box-sizing: content-box;
        padding: 12px;

        flex-direction: column;
        @include responsive(tablet) {
          width: 100%;
        }
        .main {
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          height: 100%;
          padding: 32px 24px;
        }
        .container-img {
          width: 282px;
          height: 100px;
          img {
            width: 100%;
          }
        }
        p {
          font-size: 18px;
          line-height: 28px;
          letter-spacing: -0.1px;
          margin: 0;
          @include responsive(tablet) {
            width: 100%;
          }
        }
        a {
          color: #0000b4 !important;
        }
      }
    }
  }
  .section-team-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
  }
  .section-team {
    display: flex;
    align-items: center;
    padding-bottom: 89px;
    border-bottom: 0.5px solid;
    @include responsive(tablet) {
      flex-direction: column;
    }
    & > div {
      display: flex;
      align-items: center;
      flex-direction: column;
      &:last-child {
        max-width: 500px;
      }
    }
    h3 {
      margin: 0;
      padding: 0;
      font-weight: 400;
      font-size: 32px;
      line-height: 42px;
      text-align: center;
    }
    img {
      width: 330px;
      height: 330px;
    }
    p {
      font-weight: 400;
      color: #414141;
      font-size: 20px;
      line-height: 30px;
      letter-spacing: -0.1px;
      text-align: center;
    }
  }
  .list-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    .item-contact-plus {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 1rem;
      box-sizing: border-box;
    }
    a {
      text-decoration: none;
      @include responsive(tablet) {
        width: 50%;
      }
    }
    .bg-img {
      background: #fff;
      width: 110px;
      height: 110px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      margin-bottom: 0.75rem;
      img {
        width: 80px;
        height: 80px;
        margin-bottom: 0;
        border-radius: 0;
      }
    }
    h6 {
      font-size: 1.125rem;
      font-weight: 300;
      color: $hopr_grey;
      padding: 0;
      margin: 0;
      @include responsive(tablet) {
        font-size: 18px;
      }
    }
  }
  .change-bg-color {
    background: $hopr_yellow;
  }

  .the-aux-padding {
    padding: 80px 0;
    @include responsive(tablet) {
      padding: 48px 0;
    }
  }
  .the-aux-margin {
    margin: 0 auto;
    @include responsive(tablet) {
      margin: 24px auto;
    }
  }
}
