.main-loader {
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 999;

  .the-loader {
    background: #fff;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    .element {
      animation: animateLoading 1200ms ease-in-out infinite alternate;
      background: $hopr_yellow;
      border-radius: 100%;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

@keyframes animateLoading {
  from {
    width: 30vh;
    height: 30vh;
  }

  to {
    width: 40vh;
    height: 40vh;
  }
}
