.custom-modal {
  display: none;
}

.no-show-modal {
  animation: animateModalOut 600ms ease-in-out forwards;
}

.show-modal {
  animation: animateModal 600ms ease-in-out forwards;
  position: fixed;
}

@keyframes animateModal {
  0% {
    opacity: 0;
    display: none;
  }

  50% {
    display: block;
    position: fixed;
    z-index: 14;
  }

  100% {
    opacity: 1;
    position: fixed;
    z-index: 14;
  }
}

@keyframes animateModalOut {
  0% {
    opacity: 1;
    position: fixed;
    z-index: 14;
  }

  50% {
    position: fixed;
    z-index: 14;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

.bg-modal {
  align-items: center;
  background: rgba(47, 47, 47, 0.61);
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 14;
}

.modal {
  background: #fff;
  border-radius: 12px;
  box-shadow: rgba(47, 47, 47, 0.61) 0px 5px 8px;
  color: $hopr_grey;
  height: auto;
  overflow: hidden;
  position: relative;
  width: 600px;

  @include responsive(tablet) {
    flex-direction: column;
  }

  @include responsive(phone) {
    width: 90%;
  }

  .hero-moda {
    background: $hopr_bright_blue;
    display: flex;
    height: 100px;
    justify-content: center;
    line-height: 0;
    overflow: hidden;
    position: relative;

    @include responsive(phone) {
      height: 70px;
    }

    span {
      display: block;
      background-color: $hopr_yellow;
      border-bottom: 0;
      border-top-left-radius: 50%;
      border-top-right-radius: 50%;
      height: 300px;
      line-height: 0;
      position: absolute;
      top: 30px;
      width: 400px;

      @include responsive(phone) {
        height: 210px;
        top: 12px;
        width: 220px;
      }
    }
  }

  .main-modal {
    text-align: center;
  }

  .area-label-modal {
    box-sizing: border-box;
    padding: 24px;

    @include responsive(phone) {
      padding: 14px;
    }

    h2,
    p {
      padding: 0;
      margin: 0;
    }
    h2 {
      font-size: 30px;
      font-weight: normal;
      margin-bottom: 8px;

      @include responsive(tablet) {
        font-size: 24px;
      }
      @include responsive(phone) {
        font-size: 20px;
      }
    }

    p {
      font-size: 16px;
      line-height: 140%;
      text-align: start;

      @include responsive(phone) {
        font-size: 13px;
      }
    }
  }

  .area-btn-modal {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 24px;

    @include responsive(phone) {
      margin-bottom: 14px;
    }

    span {
      font-size: 30px;

      @include responsive(tablet) {
        font-size: 24px;
      }

      @include responsive(phone) {
        font-size: 20px;
      }
    }

    .btn-alt-modal {
      span {
        color: $hopr_grey;
        margin-right: 34px;
        text-shadow: none;
        text-transform: capitalize;
      }
    }

    .btn-modal {
      background: linear-gradient(90deg, #0000db 0%, #292941 100%);
      border-radius: 100px;
      padding: 0em 1.5em;
      transition: all 600ms ease-in-out;
      width: fit-content;

      span {
        align-items: center;
        color: #ffffff;
        display: flex;
        font-weight: 600;
        letter-spacing: 0.2975px;
        line-height: 2em;
        margin: 0;
        padding: 0;
        text-align: center;
        text-transform: capitalize;
      }
    }
  }
}
