.no-show-Modal {
  opacity: 0;
  display: none;
  transition: all 500ms;
}
.activar-menu {
  animation: animateWelcomer 600ms ease-in-out forwards;
}
@keyframes animateWelcomer {
  0% {
    opacity: 0;
    display: none;
  }
  50% {
    position: fixed;
    z-index: 14;
    display: block;
  }
  100% {
    position: fixed;
    z-index: 14;
    opacity: 1;
  }
}

.bg-modal {
  position: fixed;
  z-index: 14;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(47, 47, 47, 0.61);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal {
  background: #fff;
  color: $hopr_grey;
  position: relative;
  width: 600px;
  height: auto;
  border-radius: 12px;
  box-shadow: rgba(47, 47, 47, 0.61) 0px 5px 8px;
  overflow: hidden;
  @include responsive(tablet) {
    flex-direction: column;
  }
  @include responsive(phone) {
    width: 90%;
  }
  .hero-moda {
    height: 100px;
    background: $hopr_bright_blue;
    position: relative;
    justify-content: center;
    display: flex;
    overflow: hidden;
    span {
      top: 24px;
      position: absolute;
      width: 200px;
      height: 100px;
      background-color: $hopr_yellow;
      border-top-left-radius: 110px;
      border-top-right-radius: 110px;
      border-bottom: 0;
    }
  }
  .main-modal {
    text-align: center;
  }
  .area-label-modal {
    box-sizing: border-box;
    padding: 24px;
    h2,
    p {
      padding: 0;
      margin: 0;
    }
    h2 {
      margin-bottom: 8px;
      font-weight: normal;
      font-size: 30px;
      @include responsive(tablet) {
        font-size: 24px;
      }
      @include responsive(phone) {
        font-size: 20px;
      }
    }
    p {
      text-align: start;
      font-size: 16px;
      line-height: 140%;
      // @include responsive(tablet) {
      // }
      @include responsive(phone) {
        font-size: 13px;
      }
    }
  }
  .area-btn-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
    span {
      font-size: 30px;
      @include responsive(tablet) {
        font-size: 24px;
      }
      @include responsive(phone) {
        font-size: 20px;
      }
    }
    .btn-alt-modal {
      width: 140px;
      span {
        color: $hopr_grey;
        text-shadow: none;
        text-transform: capitalize;
        margin-right: 34px;
      }
    }
    .btn-modal {
      background: linear-gradient(90deg, #0000db 0%, #292941 100%);
      transition: all 600ms ease-in-out;
      padding: 0em 1.5em;
      border-radius: 100px;
      width: fit-content;
      span {
        font-weight: 600;

        line-height: 2em;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.2975px;
        color: #ffffff;
        margin: 0;
        padding: 0;
        text-transform: capitalize;
      }
    }
  }
}
