nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 54px;
  background: #fff;
  top: 0;
  position: relative;
  z-index: 6;
  transition: all 350ms ease-in-out;
  @include responsive(tablet) {
    height: 52px;
  }
  &.add-shadow {
    background: rgba(255, 255, 255, 0.97);
  }
  &.add-scroll-menu {
    display: none;
    position: fixed;
    transition: all 350ms ease-in-out;
    background: #fff;
  }
  .logo-nav {
    width: 100px;
    @include responsive(tablet) {
      width: 70px;
    }
  }
  & > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .menu-desktop {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    @media all and (orientation: landscape) {
      justify-content: center;
    }
    @include responsive(tablet) {
      display: none;
    }
    a {
      text-decoration: none;
      text-transform: uppercase;
      margin: 0 0.8rem;
      font-size: 1rem;
      line-height: 1.875rem;
      letter-spacing: -0.1px;
      font-weight: 400;
      color: $hopr_black;
      transition: all 350ms ease-in-out;
      &.active {
        border-bottom: 2px solid $hopr_black;
      }
      &:hover {
        transition: all 350ms ease-in-out;
        color: $hopr_bright_blue;
      }
    }
  }
}


.menu-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  justify-content: center;
  background: $hopr_yellow;
  height: 90vh;
  box-sizing: border-box;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 4;
  transform: translateY(-100%);
  transition: all 350ms ease-in-out;
  &.open {
    transition: all 350ms ease-in-out;
    transform: translateY(0%);
  }
  @include responsive(tablet) {
    display: flex;
  }
  .menu-desktop {
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
      @include responsive(tablet) {
        &.active {
          border-bottom: 2px solid #414141;
        }
      }
      text-decoration: none;
      text-transform: uppercase;
      margin-bottom: 1em;
      font-size: 2em;
      letter-spacing: 0.125px;
      font-weight: 400;
      color: $hopr_grey;
      transition: all 350ms ease-in-out;
      &:last-child {
        margin-bottom: 0;
      }
      &:hover {
        transition: all 350ms ease-in-out;
        color: $hopr_bright_blue;
      }
    }
  }
}

.list-lang-sm {
  list-style: none;
  display: none;
  @include responsive(tablet) {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    bottom: 4rem;
    position: absolute;
  }
  li {
    margin-right: 1rem;
    text-transform: uppercase;
    font-size: 1.125rem;
    &:last-child {
      margin-right: 0;
    }
  }
}

.icon-menu {
  display: none;
  @include responsive(tablet) {
    display: block;
  }
  right: 24px;
  position: relative;
  label {
    width: 24px;
    height: 3px;
    background-color: $hopr_grey;
    position: absolute;
    cursor: pointer;

    &::before,
    &::after {
      content: "";
      width: 24px;
      height: 3px;
      background-color: $hopr_grey;
      position: absolute;
      display: block;
      color: white;
      transition: all 0.6s cubic-bezier(1, 0, 0, 1);
    }

    &::before {
      top: -250%;
      left: 0%;
      transform: rotateZ(0deg);
      transform-origin: left top;
    }

    &::after {
      bottom: -250%;
      left: 0%;
      transform: rotateZ(0deg);
      transform-origin: left bottom;
    }
  }

  #toggle:checked ~ label::before {
    content: "";
    background-color: $hopr_black;
    transform: rotateZ(41deg);
    left: 10%;
  }

  #toggle:checked ~ label::after {
    content: "";
    background-color: $hopr_black;
    transform: rotateZ(-41deg);
    left: 10%;
  }

  #toggle:checked ~ label {
    background-color: white;
  }

  #toggle ~ label {
    transition: all 0.5s cubic-bezier(1, 0, 0, 1);
  }

  input {
    display: none;
  }
}
