.wrapper-menu {
  display: flex;
  height: 54px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;

  nav {
    align-items: center;
    background: transparent;
    display: flex;
    height: 54px;
    justify-content: center;
    position: absolute;
    top: 0;
    transition: all 350ms ease-in-out;
    width: 100%;
    z-index: 10;

    @include responsive(tablet) {
      height: 52px;
    }

    &.add-shadow {
      background: rgba(255, 255, 255, 0.97);
    }

    .logo-nav {
      width: 90px;

      @include responsive(tablet) {
        width: 70px;
      }
    }

    & > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .menu-desktop {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 100%;

      @include responsive(tablet) {
        display: none;
      }

      a {
        text-decoration: none;
        text-transform: uppercase;
        margin: 0 0.8rem;
        font-size: 0.9rem;
        line-height: 1.875rem;
        letter-spacing: -0.1px;
        font-weight: 400;
        color: $hopr_black;
        transition: all 350ms ease-in-out;

        &.active {
          border-bottom: 1px solid $hopr_black;
        }

        &:hover {
          transition: all 350ms ease-in-out;
          color: $hopr_bright_blue;
        }
      }
    }

    &.nav-style-no-home {
      background: #fff;
      position: relative;
    }

    &.add-scroll-menu {
      position: fixed;
      transition: all 350ms ease-in-out;
      background: #fff;
    }
  }
}

.menu-mobile {
  align-items: center;
  background: $hopr_yellow;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: stretch;
  left: 0;
  overflow: hidden;
  padding-top: 60px;
  position: fixed;
  top: 0;
  transform: translateY(-100%);
  transition: all 350ms ease-in-out;
  width: 100%;
  z-index: 4;

  &.open {
    transition: all 350ms ease-in-out;
    transform: translateY(0%);
  }

  @include responsive(tablet) {
    display: flex;
  }

  .menu-desktop {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;

    a {
      @include responsive(tablet) {
        &.active {
          border-bottom: 1px solid $hopr_black;
        }
      }

      align-items: center;
      color: $hopr_grey;
      display: flex;
      font-size: 24px;
      letter-spacing: 0.2px;
      line-height: 60px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      transition: all 350ms ease-in-out;

      &:last-child {
        margin-bottom: 0;
      }

      &:hover {
        color: $hopr_bright_blue;
        transition: all 350ms ease-in-out;
      }

      @include responsive(phone) {
        line-height: 40px;
      }
    }
  }

  .list-container {
    background-color: white;
    box-sizing: border-box;
    display: flex;
    flex: 0 auto;
    padding: 20px;
    height: auto;
    width: 100%;

    .list-lang-sm {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100%;

      li {
        box-sizing: border-box;
        font-size: 1.125rem;
        margin-right: 1rem;
        text-transform: uppercase;
        text-align: center;
        padding: 14px;
        width: auto;

        @include responsive(tablet) {
          font-size: 18px;
          letter-spacing: 0.151667px;
          margin-right: 0px;
        }

        @include responsive(phone) {
          padding: 10px;
          width: 25%;
        }

        &.is-current {
          a {
            display: initial;
            border-bottom: 2px solid $hopr_grey;
            line-height: initial;
          }
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}


.icon-menu {
  cursor: pointer;
  display: none;
  height: 24px;
  position: relative;
  width: 24px;

  @include responsive(tablet) {
    display: block;
  }

  span {
    background-color: $hopr_grey;
    height: 3px;
    position: absolute;
    top: 10px;
    transition: all 0.5s cubic-bezier(1, 0, 0, 1);
    width: 24px;

    &::before,
    &::after {
      background-color: $hopr_grey;
      color: white;
      content: '';
      display: block;
      height: 3px;
      position: absolute;
      transition: all 0.6s cubic-bezier(1, 0, 0, 1);
      width: 24px;
    }

    &::before {
      left: 0%;
      top: -250%;
      transform-origin: left top;
      transform: rotateZ(0deg);
    }

    &::after {
      bottom: -250%;
      left: 0%;
      transform-origin: left bottom;
      transform: rotateZ(0deg);
    }
  }

  &.open {
    span {
      background-color: white;

      &::before {
        background-color: $hopr_black;
        content: '';
        left: 10%;
        transform: rotateZ(41deg);
      }

      &::after {
        background-color: $hopr_black;
        content: '';
        left: 10%;
        transform: rotateZ(-41deg);
      }
    }
  }
}

.specialNav{
  height: 54px;

  @include responsive(tablet) {
    height: 52px;
  }
}
