nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 54px;
  background: #fff;
  top: 0;
  position: relative;
  z-index: 6;
  transition: all 350ms ease-in-out;
  @include responsive(tablet) {
    height: 52px;
  }
  &.add-shadow {
    background: rgba(255, 255, 255, 0.97);
  }
  &.add-scroll-menu {
    position: fixed;
    transition: all 350ms ease-in-out;
    background: #fff;
  }
  .logo-nav {
    width: 100px;
    @include responsive(tablet) {
      width: 70px;
    }
  }
  & > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .menu-desktop {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    @include responsive(tablet) {
      display: none;
    }
    a {
      text-decoration: none;
      text-transform: uppercase;
      margin: 0 0.8rem;
      font-size: 1rem;
      line-height: 1.875rem;
      letter-spacing: -0.1px;
      font-weight: 400;
      color: $hopr_black;
      transition: all 350ms ease-in-out;
      &.active {
        border-bottom: 2px solid $hopr_black;
      }
      &:hover {
        transition: all 350ms ease-in-out;
        color: $hopr_bright_blue;
      }
    }
  }
}

.icon-menu {
  display: none;
  @include responsive(tablet) {
    display: block;
  }
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
  }
  z-index: 3;
  width: 34px;
  height: 27px;
  position: relative;
  margin: 0;

  cursor: pointer;
  span {
    position: absolute;
    height: 2.8px;
    width: 50%;
    background: $hopr_grey;
    opacity: 1;
    transition: 0.25s ease-in-out;
    transform: rotate(0deg);
  }
  span:nth-child(even) {
    right: 0;
    border-radius: 0 9px 9px 0;
  }
  span:nth-child(odd) {
    left: 0px;
    border-radius: 9px 0 0 9px;
  }
  span:nth-child(1),
  span:nth-child(2) {
    top: 0px;
  }
  span:nth-child(3),
  span:nth-child(4) {
    top: 50%;
  }
  span:nth-child(5),
  span:nth-child(6) {
    bottom: 0;
  }
  &.open {
    span:nth-child(1),
    span:nth-child(6) {
      transform: rotate(45deg);
    }
    span:nth-child(2),
    span:nth-child(5) {
      transform: rotate(-45deg);
    }
    span:nth-child(1) {
      left: 5px;
      top: 7px;
    }
    span:nth-child(2) {
      left: 16px;
      top: 7px;
    }
    span:nth-child(3) {
      left: -50%;
      opacity: 0;
    }
    span:nth-child(4) {
      right: -50%;
      opacity: 0;
    }
    span:nth-child(5) {
      left: 5px;
      top: 18px;
    }
    span:nth-child(6) {
      left: calc(60% - 5px);
      top: 18px;
    }
  }
}

.menu-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  justify-content: center;
  background: $hopr_yellow;
  height: 90vh;
  box-sizing: border-box;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 4;
  transform: translateY(-100%);
  transition: all 350ms ease-in-out;
  &.open {
    transition: all 350ms ease-in-out;
    transform: translateY(0%);
  }
  @include responsive(tablet) {
    display: flex;
  }
  .menu-desktop {
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
      @include responsive(tablet) {
        &.active {
          border-bottom: 2px solid #414141;
        }
      }
      text-decoration: none;
      text-transform: uppercase;
      margin-bottom: 1em;
      font-size: 2em;
      letter-spacing: 0.125px;
      font-weight: 400;
      color: $hopr_grey;
      transition: all 350ms ease-in-out;
      &:last-child {
        margin-bottom: 0;
      }
      &:hover {
        transition: all 350ms ease-in-out;
        color: $hopr_bright_blue;
      }
    }
  }
}

.list-lang-sm {
  list-style: none;
  display: none;
  @include responsive(tablet) {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    bottom: 4rem;
    position: absolute;
  }
  li {
    margin-right: 1rem;
    text-transform: uppercase;
    font-size: 1.125rem;
    &:last-child {
      margin-right: 0;
    }
  }
}
