.preSales-btn {
  display: flex;
  .btn {
    &:first-child {
      margin-right: 1rem;
    }
    &:last-child {
      margin-left: 1rem;
    }
    width: 200px;
    background: linear-gradient(90deg, #0000db 0%, #292941 100%);
    transition: all 600ms ease-in-out;
    padding: 0.8em 1.5em;
    border-radius: 100px;
    span {
      font-weight: 400;
      line-height: inherit;
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 0.2975px;
      color: #ffffff;
      margin: 0;
      padding: 0;
      text-transform: capitalize;
      font-size: 30px;
      @include responsive(tablet) {
        font-size: 24px;
      }
      @include responsive(phone) {
        font-size: 20px;
      }
    }
  }
}

.area-Msg {
  background: #fff;
  border-radius: 12px;
  color: $hopr_grey;
  padding: 14px 24px;
  box-sizing: border-box;
  width: 64%;
  p,a {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 18px;
    line-height: 140%;
    @include responsive(tablet) {
      font-size: 16px;
    }
  }
}
