.container-profile {
  & > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  a {
    text-decoration: none;
  }
}
.item-profile {
  img {
    width: auto;
    height: 180px;
    margin-bottom: 1.5rem;
    object-fit: contain;
    border-radius: 0.5rem;
  }
  h5,
  p {
    margin: 0;
    padding: 0;
    color: $hopr_grey;
  }
  h5 {
    font-size: 1.25rem!important;
    font-weight: 500;
  }
  p {
    font-size: 1rem!important;
  }
}
