.section-why-matters {
    background: $hopr_yellow;
    h2 {
      font-weight: normal;
      font-size: 2em;
      line-height: normal;
      text-align: center;
      letter-spacing: 0.5px;
      color: $hopr_grey;
    }
    p {
      font-size: 1em;
      line-height: inherit;
      letter-spacing: 0.208333px;
      color: $hopr_grey;
    }
  }