.section-how-work {
  background: $hopr_bright_blue;
  h2 {
    font-size: 2.375rem;
    font-weight: 400;
    margin-bottom: 4rem;
    color: #ffffff;

  }
}

.info-box-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3em auto;
  &:first-child,
  &:last-child {
    margin: 0em auto;
  }
  & > div {
    width: 50%;
  }
  @media (max-width: 50em) {
    flex-direction: column;
    & > div {
      width: 100%;
    }
  }

  h3,
  p {
    padding: 0;
    margin: 0;
    color: #ffffff;
  }
  h3 {
    font-weight: bold;
    font-size: 1.8em;
    letter-spacing: 0.25px;
    margin-bottom: 1.5rem;
    @include responsive(tablet) {
      padding-bottom: 0.3em;
    }
  }
  p {
    font-weight: normal;
    font-size:1.125rem;
    line-height: 2.063rem;
    letter-spacing: 0.15px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.flex-line {
  flex-direction: row-reverse;
  @include responsive(tablet) {
    flex-direction: column;
  }
}
