.section-road-map-hop {
  .container {
    .road-map-information {
      h1, h2 {
        color: $hopr_grey;
        font-weight: 400;
        text-align: center;
      }

      h1 {
        font-size: 60px;
        padding: 120px 0;
      }

      h2 {
        font-size: 36px;
        margin: 0;
        padding-bottom: 20px;
      }

      p {
        color: $hopr_greySp;
        font-size: 25px;
        letter-spacing: 0.208333px;
        line-height: 37px;
        padding: 80px 0px;
      }
    }

    .road-map-hop {
      margin-bottom: 80px;

      .road-map-element-week {
        span {
          color: #1100b4;
        }
      }

      .road-map-element-rectangle {
        background: linear-gradient(#000050, #0000b4);
        border-radius: 15px;
        height: 24px;
        max-width: 226px;
        width: 90%;
      }

      .road-map-titles-left {
        justify-content: space-between;
        width: 22%;

        .roap-map-title-2 {
          padding-bottom: 20px;
        }
      }

      span {
        align-self: flex-start;
        color: $hopr_greySp;
        font-weight: normal;
      }
    }

    .road-map-hop-preparation {
      .line-help {
        &::after {
          content: '';
          background: 0;
          height: auto;
          position: static;
          width: auto;
        }
      }
    }

    .road-map-hop-journey {
      .road-map-element:last-of-type {
        .line-help {
          &::before {
            content: '';
            height: 3px;
          }
        }
      }
    }

    .road-map-hop-preparation,
    .road-map-hop-journey {
      .road-map-element {
        .line-help::before {
          height: 18px;
          width: 18px;
        }
      }
    }
  }
}

@media screen and (max-width: 674px) {
  .section-road-map-hop {
    .container {
      .road-map-hop {
        .road-map-element {
          .line-help-hop-on-board {
            margin: 0 2rem 0 2rem;
          }
        }
        span {
          font-size: 12px;
          white-space: normal;
          word-break: break-word;
        }

        .road-map-titles-left {
          width: 26%;
        }
      }
    }
  }
}
