.section-road-map-hop {
  .container {
    .road-map-information {
      h2 {
        color: $hopr_grey;
        font-size: 60px;
        font-weight: 400;
        padding: 120px 0;
        text-align: center;
      }

      p {
        color: $hopr_greySp;
        font-size: 25px;
        letter-spacing: 0.208333px;
        line-height: 37px;
        padding: 80px 0px;
      }
    }

    .road-map-hop {
      margin-bottom: 80px;
      .road-map-titles-left {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
