.section-why-matters {
  background: $hopr_yellow;
  h2 {
    text-align: center;
    font-size:3.75rem;
    font-weight: 400;
    margin-bottom: 4rem;
    color: $hopr_grey;
  }
  p {
    font-size: 1.3em;
    line-height: 2em;

    letter-spacing: 0.208333px;
    color: $hopr_grey;
  }
  .link-out{
    font-size: 14px;
  }
}
