.section-roadMap {
  text-align: center;
  margin-bottom: 120px;

  h2 {
    color: $hopr_grey;
    font-size: 60px;
    font-weight: 400;
    text-align: center;
    margin: 74px 0;
    line-height: 32px;
    letter-spacing: 0.5px;
    @include responsive(tablet) {
      font-size: 60px;
      line-height: 32px;
      text-align: center;
      letter-spacing: 0.5px;
      margin: 50px 0;
    }
    @include responsive(phone) {
      font-size: 30px;
      line-height: 32px;
      text-align: center;
      letter-spacing: 0.25px;
      margin: 24px 0;
    }
  }
  p.styleDate {
    font-size: 16px;
    letter-spacing: 0.15px;
    line-height: 23px;
    margin-top: 0;
  }
  p {
    font-size: 1.3rem;
    line-height: 2rem;
    letter-spacing: 0.208333px;
    font-weight: 300;
  }
  .external-links {
    text-align: initial;
    li {
      font-size: 1.3rem;
      line-height: 2rem;
      letter-spacing: 0.208333px;
      font-weight: 300;
    }
  }
  .links-exp {
    color: #1100b4;
    align-self: flex-start;
  }

  .container {
    > .road-map-element {
      p.style-about {
        align-self: flex-start;
      }
      &:last-child {
        .area-info {
          padding-bottom: 0px;
        }
      }
    }
  }
}

.road-map-element {
  display: flex;
  position: relative;
  justify-content: center;
  & > div {
    &:first-child {
      width: 18%;
      text-align: start;
    }
    &:last-child {
      width: 60%;
    }
  }
  .line-help {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0 4rem 0 2rem;
    &::before {
      content: '';
      position: absolute;
      width: 24px;
      height: 24px;
      border-radius: 24px;
      background: #1100b4;
    }
    &::after {
      content: '';
      position: absolute;
      width: 2px;
      background: #1100b4;
      height: 100%;
    }
  }

  .area-info {
    display: flex;
    align-items: end;
    flex-direction: column;
    text-align: start;
    padding-bottom: 2rem;

    h4 {
      align-self: flex-start;
      margin: 0px;
    }

    p,
    a {
      padding: 0;
      margin: 0;
      color: $hopr_greySp;
    }

    a {
      color: #1100b4;
    }
    p {
      font-size: 18px;
      line-height: 23px;
      letter-spacing: 0.15px;

      @include responsive(phone) {
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.116667px;
      }
    }
  }
}

.road-map-element:last-of-type {
  .line-help {
    &::after {
      content: '';
      position: absolute;
      width: 0;
      background: #1100b4;
      height: 100%;
    }
  }
}
