.section-token-release {
  margin-bottom: 100px;
  @include responsive(tablet) {
    margin-bottom: 50px;
  }

  h2 {
    color: $hopr_grey;
    font-size: 60px;
    font-weight: 400;
    margin: 120px 0;
    text-align: center;

    @include responsive(tablet) {
      margin: 50px 0;
    }

    @include responsive(phone) {
      font-size: 30px;
      margin: 24px 0;
    }
  }

  h3 {
    color: $hopr_greySp;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 0.208333px;
    line-height: 37px;
    margin-bottom: 50px;
    margin-top: 100px;
    text-align: center;

    @include responsive(tablet) {
      font-size: 30px;
      letter-spacing: 0.5px;
      line-height: 32px;
      margin-bottom: 24px;
      margin-top: 50px;
    }

    @include responsive(phone) {
      font-size: 18px;
      letter-spacing: 0.25px;
      line-height: 32px;
      text-align: center;
    }
  }

  p {
    color: $hopr_greySp;
    font-size: 25px;
    letter-spacing: 0.208333px;
    line-height: 37px;
    margin-bottom: 50px;
    margin-top: 0;

    @include responsive(tablet) {
      font-size: 20px;
      letter-spacing: 0.166667px;
      line-height: 33px;
    }

    @include responsive(phone) {
      font-size: 16px;
      letter-spacing: 0.133333px;
      line-height: 22px;
    }
  }

  .container-chart {
    width: 100%;
    margin: auto;

    .help-scroll {
      height: 100%;
      width: auto;
    }

    @include responsive(tablet) {
      position: relative;
      overflow: scroll;
    }
  }
}

.table-info {
  width: 50%;
  margin: auto;

  @include responsive(tablet) {
    width: 78%;
  }

  @include responsive(phone) {
    width: 100%;
  }

  .container-table {
    box-shadow: 1px 1px 41px -13px rgba(0, 0, 0, 0.34);
    border-radius: 16px;
    overflow: hidden;

    .title {
      background: $hopr_bright_blue;
      padding: 0.7em;

      h4 {
        margin: 0;
        color: #fff;
      }
    }

    .list-table {
      padding: 10px;
      ul {
        margin-bottom: 5px;
        li {
          font-size: 18px;
          line-height: 30px;
          letter-spacing: 0.15px;
          color: #292941;

          @include responsive(phone) {
            font-size: 14px;
            line-height: 21px;
            letter-spacing: 0.116667px;
          }
        }
      }
      .external-link {
        padding: 10px;
        font-family: 'Source Code Pro', monospace;
        font-size: 18px;
        line-height: 30px;
        letter-spacing: 0.15px;
        color: #292941;
      }
    }
  }
}

.text-info-char-area {
  color: #414141;
  font-size: 14px;
  letter-spacing: 0.116667px;
  line-height: 18px;
  margin-top: 100px;

  @include responsive(tablet) {
    margin-top: 50px;
  }
}
