.section-how-work {
  background: $hopr_bright_blue;
  h2 {
    color: #fff;
    font-weight: normal;
    font-size: 2em;
    line-height: normal;
    text-align: center;
    letter-spacing: 0.5px;
  }
}

.info-box-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3em auto;
  &:first-child,
  &:last-child {
    margin: 0em auto;
  }
  & > div {
    width: 50%;
  }
  @media (max-width: 50em) {
    flex-direction: column;
    & > div {
      width: 100%;
    }
  }

  h3,
  p {
    padding: 0;
    margin: 0;
    color: #ffffff;
  }
  h3 {
    font-weight: bold;
    font-size: 1.8em;
    letter-spacing: 0.25px;
    line-height: 2em;
    @media (max-width: 50em) {
      padding-bottom: 0.3em;
    }
  }
  p {
    font-weight: normal;
    font-size: 1.3em;
    line-height: 2em;
    letter-spacing: 0.15px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.flex-line {
  flex-direction: row-reverse;
  @media (max-width: 50em) {
    flex-direction: column;
  }
}
