.section-blindText {
  background: $hopr_yellow;

  h2 {
    text-align: center;
    margin-top: 120px;
    margin-bottom: 120px;
    font-size: 60px;
    font-weight: 400;
    color: $hopr_grey;
    @include responsive(tablet) {
      font-size: 60px;
      margin-top: 50px;
      margin-bottom: 50px;
    }
    @include responsive(phone) {
      font-size: 30px;
      margin-bottom: 24px;
    }
  }
  p {
    color: $hopr_greySp;

    &.link-out-label {
      font-size: 14px;
      a {
        color: #1423c1;
      }
    }
    font-size: 25px;
    line-height: 37px;
    font-style: normal;
    font-weight: 400;

    letter-spacing: 0.15000000596046448px;
    @include responsive(tablet) {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0.13333334028720856px;
    }
    @include responsive(phone) {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0.13333334028720856px;
    }
  }
}

.card-view {
  background: #fff;
  border-radius: 16px;
  padding: 0 1em;

  color: $hopr_greySp;
  box-sizing: border-box;
  overflow: hidden;

  @include responsive(tablet) {
    width: 100%;
  }

  h3 {
    font-weight: 400;
    text-align: center;
    padding-top: 27px;
    margin: 0;
    font-size: 40px;

    @include responsive(tablet) {
      font-size: 30px;
      line-height: 34px;
      text-align: center;
      letter-spacing: 0.25px;
    }
  }

  .containerImg {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      margin: 0;
      padding: 0;
      font-size: 60px;
      line-height: inherit;
      text-align: center;
      letter-spacing: 0.5px;
      overflow-wrap: anywhere;

      &.label-remember {
        font-size: 18px;
        letter-spacing: 0.15px;
        line-height: 33px;
        text-align: center;
      }

      @include responsive(phone) {
        font-size: 34px;
        letter-spacing: 0.15000000596046448px;
        &.label-remember {
          margin-top: 5px;
          font-size: 14px;
        }
      }
    }
  }

  img {
    margin: 40px 0;
    width: 40%;

    @include responsive(phone) {
      margin-top: 24px;
      margin-bottom: 24px;
    }
  }

  .area-scroll {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 24px;
    p {
      margin: 0;
      padding: 0;
      font-size: 16px;
    }
  }
  .btn-ticket {
    align-self: center;
    background: linear-gradient(90deg, #0000db 0%, #292941 100%);
    border-radius: 100px;
    color: #fff;
    display: flex;
    font-size: 30px;
    height: fit-content;
    justify-content: center;
    line-height: 67px;
    margin: 24px auto 50px auto;
    padding: 0 1rem;
    width: fit-content;
    text-decoration: none;
    span {
      font-weight: bold;
      font-size: 14px;
    }

    @include responsive(tablet) {
      padding: 0 1rem;
      letter-spacing: 0.25px;
    }

    @include responsive(phone) {
      font-size: 20px;
      line-height: 34px;
      letter-spacing: 0.166667px;
      margin: 24px auto;
    }
  }
}

.helper-test {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  position: relative;
  width: 100%;

  @include responsive(tablet) {
    margin: 0 auto;
    width: 90%;
  }

  .wrapper-test {
    z-index: 4;
  }

  p {
    font-size: 45px;
    line-height: 57px;
    margin-top: 0;
    margin-bottom: 24px;

    &.special {
      font-size: 30px;
      line-height: 38px;
      letter-spacing: 0.25px;
      @include responsive(phone) {
        font-size: 18px;
        line-height: 23px;
        text-align: center;
        letter-spacing: 0.15px;
      }
    }

    @include responsive(tablet) {
      font-size: 28px;
      line-height: 38px;
    }

    @include responsive(phone) {
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 24px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &::before,
  &::after {
    border-radius: 25px;
    content: '';
    display: block;
    height: 25px;
    position: absolute;
    width: 25px;

    @include responsive(tablet) {
      height: 17px;
      width: 17px;
    }
  }

  &::before {
    background: white;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-name: animateCircleWhite;
    animation-timing-function: ease-in-out;
    z-index: 1;
  }

  &::after {
    background: $hopr_yellow;
    animation-duration: 8s;
    animation-delay: 4s;
    animation-iteration-count: infinite;
    animation-name: animateCircleYellow;
    animation-timing-function: ease-in-out;
    z-index: 0;
  }
}

@keyframes animateCircleWhite {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(15);
  }
  100% {
    transform: scale(15);
  }
}

@keyframes animateCircleYellow {
  0% {
    z-index: 1;
    transform: scale(0);
  }
  50% {
    transform: scale(15);
  }
  100% {
    transform: scale(15);
  }
}

.wrapper-sales-for {
  border-radius: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;

  @include responsive(tablet) {
    flex-direction: column;
    margin: 0 auto;
    width: 75%;
  }

  @include responsive(phone) {
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
  }

  & > div {
    width: 49%;
    @include responsive(tablet) {
      margin-bottom: 24px;
      width: 100%;
    }
  }
  .the-balancer {
    box-shadow: 4px 0px 10px 0px rgba(0, 0, 0, 0.3);
    z-index: 1;

    @include responsive(tablet) {
      box-shadow: none;
    }

    .btn-row {
      display: flex;

      @include responsive(tablet) {
        flex-direction: column;
      }

      .btn-ticket {
        align-items: center;
        justify-content: space-between;
        @include responsive(tablet) {
          align-items: center;
          margin-bottom: 0;
        }

        @include responsive(phone) {
          line-height: 45px;

          img {
            width: 35px;
          }
        }
      }

      .btn-ticket:last-child {
        @include responsive(tablet) {
          margin-bottom: 50px;
        }
      }

      img {
        margin: 0;
        margin-right: 10px;
        width: 50px;
      }
    }
  }

  .stake {
    box-shadow: 4px 0px 10px 0px rgba(0, 0, 0, 0.3);
    z-index: 1;

    @include responsive(tablet) {
      box-shadow: none;
    }

    .btn-ticket {
      margin-bottom: 50px;
      margin-top: 0;
    }

    .label-remember {
      margin: 24px 0;
    }

    .staking {
      margin-bottom: 0px;
      margin-top: 40px;
    }
  }

  .the-char-balancer {
    height: 100%;
    z-index: 0;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 87px 0 0 0;
    padding: 0 52px;
    box-sizing: border-box;

    @include responsive(tablet) {
      margin: 24px 0 50px 0;
    }

    @include responsive(phone) {
      margin: 24px 0;
    }

    p {
      color: #414141;
      font-size: 18px;
      letter-spacing: 0.15px;
      line-height: 23px;
      text-align: start;

      @include responsive(phone) {
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.116667px;
      }
    }

    img {
      height: auto;
      margin: 0 0 24px 0;
      width: 100%;
    }

    @include responsive(phone) {
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.116667px;
    }
  }
}

.help-area-padding {
  margin: 120px auto;

  @include responsive(phone) {
    margin: 50px auto;
  }
}
