.section-further {
  background: $hopr_yellow;
  h2 {
    font-weight: normal;
    font-size: 2em;
    margin-bottom: 4.625rem;
    text-align: center;
    letter-spacing: 0.5px;
    color: $hopr_grey;
    margin-top: 0;
    padding-top: 0;
  }
  .list-top,
  .list-down {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .element-future {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 1em;
    @media (max-width: 50em) {
      width: 100%;
    }
    .icon {
      width: 200px;
      height: 200px;
      background: #fff;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .info {
      h5 {
        font-weight: normal;
        font-size: 1.5rem;
        line-height: 2.313rem;
        text-align: center;
        letter-spacing: 0.2px;
        text-decoration-line: underline;
        color: $hopr_bright_blue;
        width: 70%;
        margin: 1.5rem auto;
      }
      p {
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 2.063rem;
        letter-spacing: 0.15px;
        color: $hopr_grey;
      }
    }
  }
  .list-down {
    .element-future {
      width: 33%;
      @media (max-width: 50em) {
        width: 50%;
        padding: 0.5em;
      }
    }
    .icon {
      width: 100px;
      height: 100px;
      img {
        width: 89px;
      }
    }
    .info {
      h5 {
        width: 100%;
        @media (max-width: 50em) {
          font-size: 1em;
          line-height: normal;
        }
      }
    }
  }
}
