.section-hop-on-board {

  &.section-board-video {
    height: 100vh;

    video {
      left: 50%;
      min-height: 100vh;
      min-width: 177.77vh;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100vw;
      z-index: 1;
    }
  }

  &.section-map-video {
    align-items: center;
    background-color: #222;
    display: flex;
    justify-content: center;
    line-height: 0;
    width: 100%;

    video {
      max-width: 1920px;
      width: 100%;
    }
  }

  &.gif-content {
    margin-bottom: 120px;
  }

  .container {
    .text-video-hop {
      span.main-title {
        line-height: 115px;
      }
    }

    .hop-on-board-information {
      h1 {
        color: $hopr_grey;
        font-size: 60px;
        font-weight: 400;
        padding: 120px 0;
        text-align: center;
      }

      p {
        color: $hopr_greySp;
        font-size: 25px;
        letter-spacing: 0.208333px;
        line-height: 37px;
        padding-top: 0;
      }

      .padding-bottom-description2 {
        padding-bottom: 120px;
      }

      .paragraph-hop-on-board {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 33px;
        letter-spacing: 0.15000000596046448px;
      }
    }
  }
}
