.section-token-fea {
  background: $hopr_yellow;
  padding: 120px 0 50px 0;

  @include responsive(tablet) {
    padding-top: 50px;
  }

  @include responsive(phone) {
    padding-top: 24px;
  }

  h2 {
    font-size: 60px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 120px;
    color: $hopr_grey;

    @include responsive(tablet) {
      font-size: 60px;
    }

    @include responsive(phone) {
      font-size: 30px;
      margin-bottom: 24px;
    }
  }

  .element-boxing {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .item {
      box-sizing: border-box;
      padding: 0 0.5em;
      width: 33%;

      @include responsive(tablet) {
        margin: 0 0 50px 0;
        width: 50%;
      }

      @include responsive(phone) {
        width: 100%;
      }
    }

    > .item {
      &:last-child {
        margin-bottom: 0;
      }
    }

    .icon-toke-show {
      display: flex;
      height: 114px;
      justify-content: center;
      margin-bottom: 0;
      position: relative;
      width: 114px;

      @include responsive(tablet) {
        margin: auto;
      }

      img {
        z-index: 1;
        width: 100%;
        height: 100%;
      }
    }
    .info-cont {
      h4,
      p {
        padding: 0;
        margin: 0;
        color: $hopr_greySp;
      }
      h4 {
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 0.25px;
        margin-bottom: 24px;
        margin-top: 50px;

        @include responsive(tablet) {
          font-size: 24px;
          margin-bottom: 18px;
          margin-top: 50px;
        }

        @include responsive(phone) {
          font-size: 18px;
          margin-bottom: 18px;
          margin-top: 18px;
        }
      }
      p {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 33px;
        letter-spacing: 0.15000000596046448px;
        @include responsive(tablet) {
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 22px;
          letter-spacing: 0.13333334028720856px;
        }
        @include responsive(phone) {
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 22px;
          letter-spacing: 0.13333334028720856px;
        }
      }
    }
  }
}
