.section-backed {
  background: $hopr_yellow;

  @include responsive(tablet) {
    padding: 50px 0 182px 0;
  }
  @include responsive(phone) {
    padding: 24px 0 50px 0;
  }
  h2 {
    font-weight: normal;
    font-size: 60pt;
    margin-bottom: 0;
    text-align: center;
    letter-spacing: 0.5px;
    color: $hopr_grey;
    margin-top: 70px;
    padding-top: 0;
    @include responsive(tablet) {
      // font-size: 60px;
      margin-top: 50px;
    }
    @include responsive(phone) {
      font-size: 30pt;
      margin-top: 0;
    }
  }
  p {
    font-size: 1em;
    letter-spacing: 0.208333px;
    color: $hopr_grey;
  }
  .item-back-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 50px auto;
    width: 80%;
    @include responsive(tablet) {
      width: 100%;
    }
    @include responsive(phone) {
      margin: 18px auto 50px auto;
    }
    a {
      width: 180px;
      height: 100px;
      background: transparent;
      padding: 0.5em;
      margin: 0.5em 0;
      box-sizing: border-box;
      overflow: hidden;
      display: flex;
      justify-content: center;
      img {
        width: 100%;
        object-fit: contain;
       
      }
      p {
        padding: 0;
        margin: 0;
      }
      @include responsive(tablet) {
        width: 47%;
      }
    }
  }
}
