.section-token-fea {
  h2 {
    font-weight: normal;
      font-size: 2em;
      margin-bottom: 4.625rem;
      text-align: center;
      letter-spacing: 0.5px;
      color: $hopr_grey;
      margin-top: 0;
      padding-top: 0;
  }

  .element-boxing {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    .item {
      width: 33%;
      padding: 0.5em;
      box-sizing: border-box;
      @media (max-width: 50em) {
        width: 100%;
        margin: 2em 0;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
    }
    .icon-toke-show {
      position: relative;
      width: fit-content;
      margin-bottom: 3.125rem;
      @media (max-width: 50em) {
        margin:1em  auto;
      }
      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 114px;
        height: 114px;
        background: $hopr_yellow;
        z-index: -3;
        border-radius: 100%;
      }
      img {
        width: 89px;
      }
    }
    .info-cont {
      h4,
      p {
        padding: 0;
        margin: 0;
        color: $hopr_grey;
        @media (max-width: 50em) {
          text-align: center;
        }
      }
      h4 {
        font-weight: bold;
        font-size: 1.875rem;
        margin-bottom: 1.5rem;
        letter-spacing: 0.25px;
      }
      p {
        font-size: 1.125rem;
        line-height: 2.063rem;
        letter-spacing: 0.15px;
      }
    }
  }
}
