.section-hopr-github {
  background: $hopr_bright_blue;
  h2,
  p {
    color: #fff;
  }
  h2 {
    margin: 0;
    padding: 0;
    font-size: 3em;
    line-height: 1.5em;
    letter-spacing: 0.5px;
    font-weight: 300;
  }
  p{
    margin-top: 0;
    font-size: 1.3em;
    line-height: 2em;
  }
  .flex-line-row {
    display: flex;
    align-items: center;
    & > div {
      width: 50%;
      overflow: hidden;
    }
    img {
      margin: auto;
      object-fit: cover;
      width: 100%;
    }
    @media (max-width: 50em) {
      flex-direction: column;
      & > div {
        width: 100%;
      }
    }
  }
}
