.section-how-work {
  background: $hopr_yellow;
  h2 {
    font-size: 60px;
    font-weight: 400;
    margin: 0;
    color: $hopr_grey;
  }
}

.info-box-line {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 80px 0;
  @include responsive(tablet) {
    margin: 50px 0;
  }
  &:first-child,
  &:last-child {
    margin: 0em auto;
  }
  &:first-child {
    margin-top: 120px;
  }
  &:last-child {
    margin-bottom: 120px;
  }

  &:nth-child(2) {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      padding: 0 2rem 0 0;
      box-sizing: border-box;
    }
    .info-cont {
      padding: 0 0 0 2rem;
      @include responsive(tablet) {
        padding: 0 2rem 0 0;
      }
    }
  }
  & > div {
    width: 50%;
  }
  @include responsive(tablet) {
    flex-direction: column;
    & > div {
      width: 100%;
    }
  }

  h3,
  p {
    padding: 0;
    margin: 0;
    color: $hopr_grey;
  }
  h3 {
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 0.25px;
    margin-bottom: 24px;
    @include responsive(tablet) {
      margin-bottom: 18px;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 77px;
      letter-spacing: 0.20000000298023224px;
    }
    @include responsive(phone) {
      margin-bottom: 18px;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 45px;
      letter-spacing: 0.15000000596046448px;
    }
  }
  p {
 
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.15000000596046448px;
    @include responsive(tablet) {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0.13333334028720856px;
    }
    @include responsive(phone) {
      font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 22px;
          letter-spacing: 0.13333334028720856px;
    }
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 0 0 0 2rem;
    box-sizing: border-box;
  }
}
.flex-line {
  flex-direction: row-reverse;
  @include responsive(tablet) {
    flex-direction: column;
  }
}
