.section-token-fea {
  h2 {
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 4rem;
    color: $hopr_grey;
    @include responsive(tablet) {
      font-size: 60px;
    }
    @include responsive(phone) {
      font-size: 30px;
    }
  }

  .element-boxing {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .item {
      width: 33%;
      padding: 0.5em;
      box-sizing: border-box;
      @include responsive(tablet) {
        width: 100%;
        margin: 2em 0;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
    }
    .icon-toke-show {
      position: relative;
      width: 114px;
      height: 114px;
      display: flex;
      justify-content: center;
      margin-bottom: 0;
      @include responsive(tablet) {
        margin: auto;
      }
      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 114px;
        height: 114px;
        background: $hopr_yellow;
        z-index: -3;
        border-radius: 100%;
      }
      img {
        width: 144px;
      }
    }
    .info-cont {
      h4,
      p {
        padding: 0;
        margin: 0;
        color: $hopr_grey;
        @include responsive(tablet) {
        }
      }
      h4 {
        font-weight: bold;
        font-size: 30px;
        margin-top: 50px;
        margin-bottom: 24px;
        letter-spacing: 0.25px;
        @include responsive(tablet) {
          font-size: 24px;
          margin-top: 50px;
          margin-bottom: 18px;
        }
        @include responsive(phone) {
          font-size: 18px;
          margin-top: 18px;
          margin-bottom: 18px;
        }
      }
      p {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 33px;
        letter-spacing: 0.15000000596046448px;
        @include responsive(tablet) {
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 22px;
          letter-spacing: 0.13333334028720856px;
        }
        @include responsive(phone) {
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 22px;
          letter-spacing: 0.13333334028720856px;
        }
      }
    }
  }
}
