.section-partners {
  text-align: center;

  h2 {
    font-size: 2.375rem;
    font-weight: 400;
    margin-bottom: 4rem;
    color: $hopr_grey;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      align-items: center;
      box-sizing: border-box;
      display: flex;
      height: 70px;
      justify-content: center;
      padding: 1rem;

      a {
        display: flex;
        height: 100%;
        line-height: 0;
        width: auto;
      }

      img {
        height: 100%;
        object-fit: cover;
        filter: contrast(0);
      }
    }
  }
  .btn-align {
    margin-top: 4rem;
  }
}
