.section-token-release {
  margin-bottom: 100px;
  h2 {
    font-size: 60px;
    font-weight: 400;

    color: $hopr_grey;
    text-align: center;
    margin: 74px 0;
    @include responsive(tablet) {
      justify-content: space-between;
      margin: 50px 0;
    }
    @include responsive(phone) {
      font-size: 30px;
    }
  }
  h3 {
    font-weight: bold;
    font-size: 25px;
    line-height: 37px;

    letter-spacing: 0.208333px;

    text-align: center;

    color: $hopr_greySp;
    margin-top: 100px;
    margin-bottom: 3.125rem;
    @include responsive(tablet) {
      font-size: 30px;
      line-height: 32px;
      letter-spacing: 0.5px;
      margin-bottom: 50px;
    }
    @include responsive(phone) {
      font-size: 18px;
      line-height: 32px;
      margin-bottom: 24px;
      text-align: center;
      letter-spacing: 0.25px;
    }
  }
  p {
    font-size: 25px;
    line-height: 37px;
    letter-spacing: 0.208333px;
    margin-bottom: 50px;
    color: $hopr_greySp;
    @include responsive(tablet) {
      font-size: 20px;
      line-height: 33px;
      letter-spacing: 0.166667px;
    }
    @include responsive(phone) {
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 0.133333px;
    }
  }
}

.table-info {
  width: 50%;
  margin: auto;
  @include responsive(tablet) {
    width: 100%;
  }
  .container-table {
    box-shadow: 1px 1px 41px -13px rgba(0, 0, 0, 0.34);
    border-radius: 16px;
    overflow: hidden;
    @include responsive(tablet) {
      margin-bottom: 50px;
    }
    .title {
      background: $hopr_bright_blue;
      padding: 0.7em;
      h4 {
        margin: 0;
        color: #fff;
      }
    }
    .list-table {
      ul {
        li {
          font-size: 18px;
          line-height: 30px;
          letter-spacing: 0.15px;
          color: #292941;

          @include responsive(phone) {
            font-size: 14px;
            line-height: 21px;
            letter-spacing: 0.116667px;
          }
        }
      }
    }
  }
}

.text-info-char-area {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.116667px;
  color: #414141;
  margin-top: 100px;
  @include responsive(tablet) {
    margin-top: 50px;
  }
}
