$hopr_white: white;
$hopr_grey: #414141;
$hopr_dark_blue: #000050;
$hopr_steel_blue: #3c64a5;
$hopr_bright_blue: #0000b4;
$hopr_sky_blue: #b4f0ff;
$hopr_yellow: #ffffa0;
// shadow
$shadow: rgba(149, 157, 165, 0.15) 0px 8px 24px;
