.welcome-section {
  background: $hopr_yellow;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 54px);
  overflow: hidden;
  position: relative;
  top: 0;

  &::before {
    background: white;
    border-radius: 100%;
    content: '';
    display: block;
    height: 80vh;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 400ms ease-in-out;
    width: 80vh;

    @include responsive(tablet) {
      height: 50vh;
      width: 50vh;
    }
  }

  .center-on-the-box {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .section-top {
    box-sizing: border-box;
    display: flex;
    flex: 1;
    width: 100%;

    @include responsive(phone) {
      padding: 0 10px;
    }

    .main-labels {
      opacity: 0;
      transform: translateY(100%);
      z-index: 3;

      .help-box {
        margin: 30px auto 0 auto;
        width: 70%;

        @include responsive(tablet) {
          width: 80%;
        }

        @include responsive(phone) {
          margin: 20px auto 0 auto;
          width: 100%;
        }
      }

      h1,
      p {
        color: #414141;
        margin: 0;
        padding: 0;
      }
      h1 {
        font-size: 100px;
        font-weight: 400;
        letter-spacing: 0.833333px;
        line-height: 126px;
        text-transform: uppercase;

        @include responsive(phone) {
          font-size: 50px;
          letter-spacing: 0.416667px;
          line-height: 64px;
        }
      }

      p {
        font-size: 25px;
        letter-spacing: 0.166667px;
        line-height: 37px;
        text-align: center;

        @include responsive(tablet) {
          font-size: 20px;
          line-height: 25px;
        }

        @include responsive(phone) {
          font-size: 16px;
          letter-spacing: 0.133333px;
          line-height: 20px;
        }
      }
    }
  }

  .section-bottom {
    display: flex;
    flex: 0 auto;
    flex-wrap: nowrap;
    justify-content: stretch;
    transform: translateY(100%);

    & > a {
      box-sizing: border-box;
      overflow: hidden;
      position: relative;
      width: 50%;

      img {
        height: auto;
        width: 100%;
      }

      .text-area {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;

        #clockDiv {
          color: #ffffff;
          font-size: 45px;
          font-style: normal;
          font-weight: 600;
          letter-spacing: 0.375px;
          line-height: 55px;
          margin: 0;
          text-align: center;
          text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
          text-transform: uppercase;

          @include responsive(tablet) {
            font-size: 25px;
            letter-spacing: 0.208333px;
            line-height: 31px;
          }

          @include responsive(phone) {
            font-size: 20px;
            letter-spacing: 0.166667px;
            line-height: 25px;
          }
        }
      }

      h2 {
        color: #ffffff;
        font-size: 45px;
        font-style: normal;
        font-weight: 600;
        letter-spacing: 0.375px;
        line-height: 55px;
        margin: 0;
        text-align: center;
        text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
        text-transform: uppercase;

        @include responsive(tablet) {
          font-size: 25px;
          line-height: 31px;
          letter-spacing: 0.208333px;
        }

        @include responsive(phone) {
          font-size: 20px;
          line-height: 25px;
          letter-spacing: 0.166667px;
        }
      }
    }

    @include responsive(tablet) {
      height: 30%;

      & > div {
        img {
          height: 100%;
          width: auto;
        }
      }
    }
  }
}

.show-hi {
  &::before {
    height: 130vh;
    transition: all 500ms ease-in-out;
    width: 130vh;

    @include responsive(tablet) {
      height: 100vh;
      width: 100vh;
    }
  }

  .section-top {
    .main-labels {
      transform: translateY(0%);
      opacity: 1;
      transition: all 800ms ease-in-out;
    }
  }

  .section-bottom {
    transform: translateY(0%);
    transition: all 800ms ease-in-out;
  }
}
