.welcome-section {
  overflow: hidden;
  position: relative;
  top: 0;
  height: 100vh;
  background: $hopr_yellow;
  &::before {
    background: white;
    border-radius: 100%;
    height: 80vh;
    width: 80vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    display: block;
    position: absolute;
    transition: all 400ms ease-in-out;
    @include responsive(tablet) {
      height: 50vh;
      width: 50vh;
    }
  }
  .center-on-the-box {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }
  .section-top {
    height: 70%;
    box-sizing: border-box;
    width: 100%;

    @include responsive(phone) {
      justify-content: flex-end;
      padding-bottom: 8.5vh;
    }
    .main-labels {
      z-index: 3;
      opacity: 0;
      transform: translateY(100%);
      @include responsive(tablet) {
      }
      .help-box {
        margin: 30px auto 0 auto;
        width: 70%;

        @include responsive(tablet) {
          width: 80%;
        }
        @include responsive(phone) {
          margin: 18px auto 0 auto;
          width: 98%;
        }
      }
      h1,
      p {
        padding: 0;
        margin: 0;
        color: #414141;
      }
      h1 {
        font-weight: 400;
        font-size: 100px;
        line-height: 126px;
        text-transform: uppercase;
        letter-spacing: 0.833333px;
        @include responsive(tablet) {
          font-size: 50px;
          line-height: 64px;
          letter-spacing: 0.416667px;
        }
        @include responsive(phone) {
          font-size: 40px;
          line-height: normal;
          letter-spacing: -1.44px;
        }
      }
      p {
        font-size: 25px;
        line-height: 37px;
        text-align: center;
        letter-spacing: 0.166667px;

        @include responsive(tablet) {
          font-size: 16px;
          line-height: 30px;
          letter-spacing: 0.133333px;
        }

        @include responsive(phone) {
          font-size: 16px;
          line-height: 30px;
          letter-spacing: 0.133333px;
        }
      }
    }
  }
  .section-bottom {
    transform: translateY(100%);
    height: 30%;
    display: flex;
    & > div {
      width: 50%;
      overflow: hidden;
      box-sizing: border-box;
      position: relative;
      a {
        height: 100%;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          position: absolute;
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
        .text-area {
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          #clockDiv {
            font-style: normal;
            font-weight: 600;
            font-size: 45px;
            line-height: 55px;
            text-align: center;
            letter-spacing: 0.375px;
            text-transform: uppercase;
            color: #ffffff;
            text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
            @include responsive(tablet) {
              font-size: 25px;
              line-height: 31px;
              letter-spacing: 0.208333px;
            }
            @include responsive(phone) {
              font-size: 20px;
              line-height: 25px;
              letter-spacing: 0.166667px;
            }
          }
        }
      }
      h2 {
        font-style: normal;
        font-weight: 600;
        font-size: 45px;
        line-height: 55px;
        text-align: center;
        letter-spacing: 0.375px;
        text-transform: uppercase;
        color: #ffffff;
        text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
        margin-bottom: 0;
        @include responsive(tablet) {
          font-size: 25px;
          line-height: 31px;
          letter-spacing: 0.208333px;
        }
        @include responsive(phone) {
          font-size: 20px;
          line-height: 25px;
          letter-spacing: 0.166667px;
        }
      }
    }
  }
}

.show-hi {
  &::before {
    height: 100vh;
    width: 100vh;
    transition: all 500ms ease-in-out;
    @include responsive(tablet) {
      height: 80vh;
      width: 80vh;
    }
  }
  .section-top {
    .main-labels {
      transform: translateY(0%);
      opacity: 1;
      transition: all 800ms ease-in-out;
    }
  }
  .section-bottom {
    transform: translateY(0%);
    transition: all 800ms ease-in-out;
  }
}
