.welcome-section {
  background: $hopr_yellow;
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  top: 0;

  &::before {
    background: white;
    border-radius: 100%;
    content: '';
    display: block;
    height: 80vh;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -os-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transition: all 400ms ease-in-out;
    width: 80vh;

    @include responsive(tablet) {
      height: 50vh;
      width: 50vh;
    }
  }

  .center-on-the-box {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: calc(100vh * 0.3);
  }

  .section-top {
    box-sizing: border-box;
    display: flex;
    flex: 1;
    text-align: center;
    margin-top: 40px;
    width: 100%;

    @include responsive(phone) {
      padding: 0 10px;
    }

    .main-labels {
      opacity: 0;
      transform: translateY(100%);
      -moz-transform: translateY(100%);
      -ms-transform: translateY(100%);
      -os-transform: translateY(100%);
      -webkit-transform: translateY(100%);
      z-index: 3;

      .help-box {
        margin: 15px auto 40px auto;
        width: 90%;

        @include responsive(tablet) {
          width: 80%;
        }

        @include responsive(phone) {
          margin: 10px auto 10px auto;
          width: 100%;
        }
      }

      h1,
      p {
        color: #414141;
        margin: 0;
        padding: 0px;
      }
      h1 {
        font-size: 100px;
        font-weight: 400;
        letter-spacing: 0.833333px;
        line-height: 126px;
        text-transform: uppercase;

        @include responsive(phone) {
          font-size: 60px;
          letter-spacing: 0.416667px;
          line-height: 64px;
        }
      }

      p {
        font-size: 20px;
        letter-spacing: 0.166667px;
        line-height: 37px;
        text-align: center;

        @include responsive(tablet) {
          font-size: 15px;
          line-height: 25px;
        }

        @include responsive(phone) {
          font-size: 12px;
          letter-spacing: 0.133333px;
          line-height: 20px;
        }
      }
    }
  }

  .section-bottom {
    display: flex;
    flex-direction: column;
    opacity: 0;
    transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -os-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    width: 100%;

    @media screen and (max-width: 768px) {
      .train-hop-on-board {
        height: 160px;
      }
    }

    .welcome {
      background: linear-gradient($hopr_dark_blue, $hopr_bright_blue);
      display: block;
      float: left;
      width: 100%;

      @media screen and (max-width: 480px) {
        .welcome-text {
          h1 {
            font-size: 38px !important;
          }
        }
      }

      .welcome-text {
        display: inline-block;
        float: none;
        padding: 10px 0px 10px 30px;
        white-space: nowrap;

        h1,
        .bubble {
          display: inline-block;
          float: none;
          margin: 0;
          vertical-align: middle;
        }

        h1 {
          color: $hopr_white;
          font-weight: normal;
          font-size: 3em;
        }

        .bubble {
          background: $hopr_yellow;
          border-radius: 50%;
          height: 20px;
          margin-left: 30px;
          width: 20px;
        }
      }

      .single {
        display: inline-block;
        float: none;
        padding: 20px;
      }
    }

    & > a {
      box-sizing: border-box;
      overflow: hidden;
      position: relative;
      width: 50%;

      img {
        height: auto;
        width: 100%;
      }

      .text-area {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;

        #clockDiv {
          color: #ffffff;
          font-size: 45px;
          font-style: normal;
          font-weight: 600;
          letter-spacing: 0.375px;
          line-height: 55px;
          margin: 0;
          text-align: center;
          text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
          text-transform: uppercase;

          @include responsive(tablet) {
            font-size: 25px;
            letter-spacing: 0.208333px;
            line-height: 31px;
          }

          @include responsive(phone) {
            font-size: 20px;
            letter-spacing: 0.166667px;
            line-height: 25px;
          }
        }
      }

      h2 {
        color: #ffffff;
        font-size: 45px;
        font-style: normal;
        font-weight: 600;
        letter-spacing: 0.375px;
        line-height: 55px;
        margin: 0;
        text-align: center;
        text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
        text-transform: uppercase;

        @include responsive(tablet) {
          font-size: 25px;
          line-height: 31px;
          letter-spacing: 0.208333px;
        }

        @include responsive(phone) {
          font-size: 20px;
          line-height: 25px;
          letter-spacing: 0.166667px;
        }
      }
    }

    @include responsive(tablet) {
      height: 30%;

      & > div {
        img {
          height: 100%;
          width: auto;
        }
      }
    }
  }
}

.show-hi {
  &::before {
    height: 130vh;
    transition: all 500ms ease-in-out;
    width: 130vh;

    @include responsive(tablet) {
      height: 100vh;
      width: 100vh;
    }
  }

  .section-top {
    .main-labels {
      transform: translateY(0%);
      -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
      -os-transform: translateY(0%);
      -webkit-transform: translateY(0%);
      opacity: 1;
      transition: all 800ms ease-in-out;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .section-bottom {
    transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -os-transform: translateY(0%);
    -webkit-transform: translateY(0%);
    transition: all 800ms ease-in-out;
    opacity: 1;
  }
}
