*,
body {
  font-family: 'Source Code Pro', monospace;
  transition: all 350ms ease;
  overscroll-behavior-y: none;
}

:root {
  font-size: 16px;
}

section {
  overflow: hidden;
}

.link-out {
  font-size: 0.8em;
  line-height: normal;
  letter-spacing: 0.116667px;
  text-decoration-line: underline;
  color: #0000b4 !important;
}

.container-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.help-flex {
  display: flex;
}

.container-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  width: 100%;
  position: fixed;
  bottom: 10px;
}

.video-home {
  line-height: 0;

  iframe {
    height: 450px;
    left: 0px;
    top: 0px;
    width: 100%;
    @include responsive(phone) {
      height: 100%;
    }
  }
}

.ytp-title-text,
.ytp-chrome-top,
.ytp-show-cards-title,
.ytp-gradient-top {
  display: none !important;
}

.global-home-aux {
  @include responsive(tablet) {
    font-size: calc(1em / 1.2);
  }
}

.aux-img-home {
  height: auto;
  overflow: hidden;
  div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  img {
    object-fit: cover;
    width: 70%;
    margin: auto;
  }
}

//
.aux-padding-box-read {
  &:first-child {
    padding: 0 2rem 0 0;
  }
  &:last-child {
    padding: 0 0 0 2rem;
  }
  box-sizing: border-box;
  margin-bottom: 34px;
  @include responsive(tablet) {
    padding: 0;
    margin-bottom: 34px;
    &:first-child {
      padding: 0;
    }
  }
  @include responsive(phone) {
    margin-bottom: 0;
  }
}

.padding-section-aux {
  padding-top: 50px;
  padding-bottom: 50px;
}

.container-char {
  background: #fff;
  box-shadow: 1px 1px 41px -13px rgba(0, 0, 0, 0.34);
  border-radius: 16px;
  overflow: hidden;
  height: 250px;
  width: 90%;
  margin: auto;
  @include responsive(tablet) {
    height: auto;
    width: 100%;
    margin-bottom: 12px;
  }
  canvas {
    padding: 1em;
    box-sizing: border-box;
  }
}

.block-left,
.block-right {
  width: 50%;
  padding: 1rem;
  box-sizing: border-box;
  @include responsive(tablet) {
    width: 100%;
    padding: 0.3rem;
  }
}

.padding-bottom {
  @include responsive(tablet) {
    margin-bottom: 18px;
  }
}

.center-help {
  width: 470px;
  margin: auto;
  @include responsive(tablet) {
    width: 90vw;
    .link-out {
      margin-bottom: 18px;
    }
  }
}

//
h2 {
  word-break: break-word;
  text-transform: uppercase;
}
