$hopr_white: white;
$hopr_grey: #414141;
$hopr_greySp:#414141;
$hopr_black: #292941;
$hopr_blue:#1423C1;
$hopr_dark_blue: #000050;
$hopr_steel_blue: #3c64a5;
$hopr_bright_blue: #0000b4;
$hopr_sky_blue: #b4f0ff;
$hopr_yellow: #ffffa0;
// shadow
$shadow: rgba(149, 157, 165, 0.15) 0px 8px 24px;

.h-100 {
  height: 100%;
}

$scroll-reveal--transition-duration: 0.6s;
$scroll-reveal--transition-timing: ease;
$scroll-reveal--from-top-amount: -20px;
$scroll-reveal--from-bottom-amount: 20px;
$scroll-reveal--from-left-amount: -20px;
$scroll-reveal--from-right-amount: 20px;
$scroll-reveal--scale-up-amount: 0.95;
$scroll-reveal--scale-down-amount: 1.05;
$scroll-reveal--rotate-from-left-amount: -45deg;
$scroll-reveal--rotate-from-right-amount: 45deg;
