.is-loaded:not {
  .init-mask {
    background: #FFF;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 50;
  }
}

.section-container {
  align-items: center;
  color: #414141;
  display: flex;
  font-size: 20px;
  justify-content: center;
  letter-spacing: -0.1px;
  line-height: 30px;
  text-size-adjust: 100%;

  h1 {
    font-size: 100px;
    font-weight: 700;
    line-height: normal;
    margin: 0 0 30px 0;
    padding: 0 0 30px 0;
  }

  h2 {
    font-size: 38px;
    font-weight: 700;
    line-height: 48px;
    margin: 0;
    padding-bottom: 80px;
    text-transform: none;
  }

  p {
    margin-bottom: 32px;
    margin-top: 0;
  }

  .text-center {
    text-align: center;
  }

  .text-left {
    text-align: left;
  }

  .text-right {
    text-align: right;
  }

  .btn {
    background-origin: border-box;
    background: linear-gradient(270deg,#000050,#0000b4);
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(255, 255, 160, 0.32), 0 8px 12px rgba(255, 255, 160, 0.24);
    color: #FFF;
    display: inline-flex;
    font-size: 25px;
    font-weight: 700;
    line-height: 22px;
    padding: 13px 31px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
  }

  &.invert-color {
    background: $hopr_yellow;
  }

  &.align-center {
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .container {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1080px;
    padding: 80px 24px;
    width: 90%;

    &.size-sm {
      max-width: 896px;
    }

    .content-columns {
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      .col {
        -webkit-box-flex: 0;
        display: block;
        max-width: 100%;
        position: relative;

        &.col-12 {
          -ms-flex: 0 0 50%;
          flex: 0 0 50%;
          max-width: 50%
        }

        &.col-9 {
          -ms-flex: 0 0 37.5%;
          flex: 0 0 37.5%;
          max-width: 37.5%;
        }
      }
    }
  }
}