@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600;700&display=swap');

// Common
@import 'common/_normalize';
@import 'common/_breaking-points';
@import 'common/_toolkit';
@import 'common/_config';
@import 'common/layout.scss';

@import 'fragments/accordion';
@import 'fragments/_animation';
@import 'fragments/_transitions';
@import 'fragments/_loader';
@import 'fragments/_book';
@import 'fragments/_animate-conf';
@import 'fragments/_modal';
@import 'fragments/_btn';
@import 'fragments/_pre-sales';
@import 'fragments/_container';
@import 'fragments/_navbar';
@import 'fragments/_welcome';
@import 'fragments/_home-classic';
@import 'fragments/_about';
@import 'fragments/_area-languages';
@import 'fragments/_banner';
@import 'fragments/_blog';
@import 'fragments/_choose-language';
@import 'fragments/_contact-plus';
@import 'fragments/_custom-cursors';
@import 'fragments/_footer';
@import 'fragments/_hero-internal';
@import 'fragments/_hero';
@import 'fragments/_node';
@import 'fragments/_profiles';
@import 'fragments/_section-blind';
@import 'fragments/_scroll-reveal';
@import 'fragments/_section-backed';
@import 'fragments/_section-board-association';
@import 'fragments/_section-bounties';
@import 'fragments/_section-documentation';
@import 'fragments/_section-further';
@import 'fragments/_section-hardware';
@import 'fragments/_section-hopr-values';
@import 'fragments/_section-indicator';
@import 'fragments/_section-it-work';
@import 'fragments/_section-jobs';
@import 'fragments/_section-matter';
@import 'fragments/_section-partners';
@import 'fragments/_section-source';
@import 'fragments/_section-token-features';
@import 'fragments/_section-roadMap';
@import 'fragments/_section-token-release';
@import 'fragments/_slider';
@import 'fragments/_timeline';

// Pages
@import 'pages/partners.scss';
@import 'pages/win.scss';
